nav {
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background: #00baff;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6), 0 -0.2rem 0.2rem rgba(255, 255, 255, 0.3);
}

nav::after {
  content: "";
  display: block;
  clear: both;
}

hgroup {
  float: left;
  font-size: 30px;
  margin: 5px 5px 5px 5px;
}

aside {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #757575;
  color: #fff;
  left: -300px;
  top: 0;
  bottom: 0;
  z-index: 5000;
  box-sizing: border-box;
  padding-top: 70px;
  transition: all 0.4s ease;
}

aside.active {
  left: 0;
}

aside a {
  display: block;
  padding: .60em;
  text-decoration: none;
  font-size: 1.50em;
  color: #fff;
  border-bottom: 1px solid #414141;
}

.toggle-wrap {
  padding: 10px;
  position: relative;
  cursor: pointer;
  float: left;
  /*disable selection
  -----------------------------*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle-bar {
  width: 38px;
  margin: 10px 0;
  position: relative;
border-radius: 5px;
  border-top: 6px solid #fff;
  display: block;
}

.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background: #fff;
border-radius: 5px;
  height: 6px;
  width: 38px;
  position: absolute;
  top: -16px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%;
}

.toggle-bar::after {
  top: 4px;
}

.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}

.toggle-wrap.active .toggle-bar::before {
border-radius: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
