body {font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;}
.hero-image {
animation: slide-in .7s .5s ease both;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bortom-df{border-bottom: 1px #ccc solid;}
/*=== CSS TEXT ===*/
.text-left{text-align:left;}.text-center{text-align:center;}.text-right{text-align:right;}.text-justify{text-align:justify;}
/*=== CSS MARGIN ===*/
.mar-df{margin: 1em 1em 1em 1em;}
.mar-lr-df,.mar-rl-df{margin: 0em 1em 0em 1em;}
.mar-tb-df,.mar-bt-df{margin: 1em 0em 1em 0em;}
/*=== CSS PADDING ===*/
.pad-df{padding: 1em 1em 1em 1em;}
.pad-lr-df,.pad-rl-df{padding: 0em 1em 0em 1em;}
.pad-tb-df,.pad-bt-df{padding: 1em 0em 1em 0em;}
/*=== CSS BACKGROUND ===*/
.bg-co{background: #EAEEFF;}
.bg-cc{background: #EAEEF6;}
.listtron {
  left: 0;
  width: none;
  height: 10px;
  margin-top: -20px;
  margin-left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FF0000;
  position: relative;
  }
.listtrof {
  left: 0;
  width: none;
  height: 10px;
  margin-top: -20px;
  margin-left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #EAEEF6;
  position: relative;
  }
.listpost {
  display: flex;
  margin-top: -20px;
  background: #eaeef6;
  position: relative;
  justify-content: space-between;
  border-bottom: 3px #111 solid;
}
.listpost .date {
  width: none;
  padding: 5px;
}
.listpost .name {
  color: #ff1010;
  padding: 5px;
}
/*=== CSS BODY DESIGN ===*/
.firmansyahbio .base {
  padding: 1em 0em 0em 0em;
 }
@media only screen and (max-width: 60em) {

}
@media only screen and (max-width: 30em) {
.firmansyahbio .base {
  padding: 1em 1em 1em 1em;
  }

.listtrof {
  width: 40%;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  }
}
