body {font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;}
.bortom-df{border-bottom: 1px #ccc solid;}
/*=== CSS TEXT ===*/
.text-left{text-align:left;}.text-center{text-align:center;}.text-right{text-align:right;}.text-justify{text-align:justify;}
/*=== CSS MARGIN ===*/
.mar-df{margin: 1em 1em 1em 1em;}
.mar-lr-df,.mar-rl-df{margin: 0em 1em 0em 1em;}
.mar-tb-df,.mar-bt-df{margin: 1em 0em 1em 0em;}
/*=== CSS PADDING ===*/
.pad-df{padding: 1em 1em 1em 1em;}
.pad-lr-df,.pad-rl-df{padding: 0em 1em 0em 1em;}
.pad-tb-df,.pad-bt-df{padding: 1em 0em 1em 0em;}
/*=== CSS BACKGROUND ===*/
.bg-co{background: #EAEEFF;}
.bg-cc{background: #EAEEF6;}
.bg-slateblue {color:white;background:slateblue;}
.bg-deeppink {color:white;background:deeppink;}
.bg-dodgerblue {color:white;background:dodgerblue;}

/*=== CSS BODY DESIGN ===*/
