/*=== CSS TEXT ===*/
.text-left{text-align:left;}.text-center{text-align:center;}.text-right{text-align:right;}.text-justify{text-align:justify;}
/*=== CSS MARGIN ===*/
.mar-df{margin: 10px 10px 10px 10px;}
.mar-lr-df{margin: 0px 10px 0px 10px;}
.mar-tb-df{margin: 10px 0px 10px 0px;}
/*=== CSS PADDING ===*/
.pad-df{padding: 10px 10px 10px 10px;}
.pad-lr-df{padding: 0px 10px 0px 10px;}
.pad-tb-df{padding: 10px 0px 10px 0px;}
