.bing-list {
  padding-right: 2px;
  display: block;
  width: none;
  height: none;
  overflow: auto;
  margin-right: 5px;
  border-radius: 5px;
  background: #767EEB;
  border: 1px #767EEB solid;
  box-sizing: border-box;
  box-shadow:
    -.4rem .8rem 2rem rgba(176,188,207,.5),
    inset .2rem -.2rem .7rem rgba(188,188,212,.73),
    inset 1rem -1rem 2rem rgba(10,197,137,.05);
  }
.irea-list {
  width: none;
  margin: 2px 2px 2px 2px;
  overflow: auto;
  max-height: 500px;
  border-radius: 5px;
  border: 1px #767EEB solid;
  background: white;
  padding: 2px 2px;
  }
.bing-list .irea-list a {
  padding: 2px 2px;
  display: block;
  background: #767eeb;
  text-align: left;
  color: #fff;
  border-radius: 2px;
  margin: 0px;
  margin-top: 2px;
  font-size: 16px;
  border: 1px #767EEB solid;
  }
.bing-list .irea-list a:hover {background:#fff;color:#767EEB;}
