
/*=== CSS LABEL ===*/
.docs .label {
  margin-top: 5px;
  margin-bottom: 5px;
  }
.docs .label a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  border: 1px solid #cecece;
  font-weight: bold;
  margin: 0px 0px 10px 5px;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  color: white;
  background-color: #767EEB;
  display: inline-block;
}
.docs .label a:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}
.docs .label .label-name {
  font-family: 'Dongle' , sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #4caf50;
  }
/*=== CSS COUNTER ===*/
.docs ul.counter {
    list-style: none;
    position: relative;
    padding-left: 55px;
}
.docs ul.counter::before {
    content: "";
    height: calc(100% - 100px);
    width: 1px;
    position: absolute;
    top: 0;
    left: 21px;
    background: #e73c3e;
}
.docs ul.counter li {
    position: relative;
}
.docs ul.counter li::before {
    content: attr(data-counter);
    position: absolute;
    top: 0px;
    left: -54px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e73c3e;
    text-align: center;
    background: #f9fafb;
}
.docs ul.counter li strong{
    font-size: 22px;
}
/*=== CSS LITICON ===*/
.docs ul.liticon {
    list-style: none;
    padding: 0;
}
.docs ul.liticon li {
    color: #606060;
    line-height: 2.4rem;
}
.docs ul.liticon li i {
    color: #E83B3E;
    margin-right: 10px;
}
.carapace cakra {
display: block;
width: auto;
color: #111;
margin-left: 10px;
margin-top: 6px;
font-size: 19px;
position: absolute;
z-index: 10;
letter-spacing: 3px;
}
.bg-df ul.liticon li {
    color: #000;}
.bg-df ul.liticon li i {
    color: #4E4DED;}
@media only screen and (max-width: 60em) {

}
@media only screen and (max-width: 30em) {

}
