/*==========================
@ NAMA         : Docs Post
@ DOCS ID      : Css
@ TYPE CLASS   : Head
@ REL DOCUMENT : Carapace
===========================*/
.post .post-body p {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: left;
  color: grey;
  font-family: 'Lato', sans-serif;
}
.post .post-body h6 {
  opacity: 0.9;
  font-size: 20px;
  margin-bottom: -5px;
  line-height: 1.6;
  font-weight: bold;
  color: #aeaafe;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo section {margin: 0;box-sizing: border-box;}
/*==========================
@ PT-IP      : Carapace
@ PT-TYPE    : Note
@ PT-CLASS   : Docs__Post
@ PT-ARCHIVE : March / Nissa / Waves
===========================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.PapaTheo .Carapace .Docs__Post h1 {
  font-size: 62px;
  font-weight: bold;
  line-height: 1.40em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.40em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post,
.PapaTheo .Carapace .Docs__Post p {
  font-size: 16px;
  line-height: 1.50em;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h1 code {box-sizing: border-box;padding: 4px 4px;border-radius: 5px;font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;}
.PapaTheo .Carapace .Docs__Post h2 code {box-sizing: border-box;padding: 3px 3px;border-radius: 5px;font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;}
.PapaTheo .Carapace .Docs__Post p code {padding: 2px 2px;border-radius:2px;box-sizing:border-box;font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;}
.PapaTheo .Carapace .Docs__Post p a {padding: 1px 1px;box-sizing:border-box;}
/*==========================
@ NAME       : Position Text
@ DOCS       : Css
@ CLASS      : Text__###
@ REL TOTAL  : 4 Element
==========================*/
.js-scroll {opacity: 0;transition: opacity 500ms;}
.js-scroll.scrolled {opacity: 1;}
.scrolled.fade-in {animation: fade-in 1s ease-in-out both;}
.scrolled.fade-in-bottom {animation: fade-in-bottom 1s ease-in-out both;}
.scrolled.slide-left {animation: slide-in-left 1s ease-in-out both;}
.scrolled.slide-right {animation: slide-in-right 1s ease-in-out both;}
@keyframes slide-in-left {0% {-webkit-transform: translateX(-100px);transform: translateX(-100px);opacity: 0;}100% {-webkit-transform: translateX(0);transform: translateX(0);opacity: 1;}}
@keyframes slide-in-right {0% {-webkit-transform: translateX(100px);transform: translateX(100px);opacity: 0;}100% {-webkit-transform: translateX(0);transform: translateX(0);opacity: 1;}}
@keyframes fade-in-bottom {0% {-webkit-transform: translateY(50px); transform: translateY(50px); opacity: 0;}100% {-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;}}
@keyframes fade-in {0% {opacity: 0;}100% {opacity: 1;}}
/*==========================
@ NAME       : Position Text
@ DOCS       : Css
@ CLASS      : Text__###
@ REL TOTAL  : 4 Element
==========================*/
.PapaTheo .Carapace .Text__Left {
  text-align: left;}
.PapaTheo .Carapace .Text__Right {
  text-align: right;}
.PapaTheo .Carapace .Text__Center {
  text-align: center;}
.PapaTheo .Carapace .Text__Justify {
  text-align: justify;}
/*==========================
@ NAME       : Pin__
@ DOCS       : Css
@ PT-CLASS   : max-width
@ REL ARC    : 
==========================*/
.Carapace .Docs__Post .Pin__Pink,
.Carapace .Docs__Post .Pin__Navy,
.Carapace .Docs__Post .Pin__Orange,
.Carapace .Docs__Post .Pin__Blue,
.Carapace .Docs__Post .Pin__Black,
.Carapace .Docs__Post .Pin__Green,
.Carapace .Docs__Post .Pin__Red,
.Carapace .Docs__Post .Pin__Yellow,
.Carapace .Docs__Post .Pin {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;}
.PapaTheo .Carapace .Docs__Post .Demo__View {
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;}

/*==========================
@ NAME       : Skill
@ DOCS       : Css
@ PT-CLASS   : Bar
@ SINTEKSIS  : Skill
==========================*/
.Carapace .Docs__Post ul.Skill { 
list-style: none;
font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
width: 100%;
margin: 50px auto 0;
position: relative;
line-height: 2em;
padding: 30px 0;
}
.Carapace .Docs__Post ul.Skill li { 
margin-bottom:50px; 
background:#e9e5e2;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
height:20px; 
border-radius:10px; 
-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}
.Carapace .Docs__Post ul.Skill li span.Name { 
  position:relative; 
  top:-25px;
  margin-left: 10px;
}
.Carapace .Docs__Post ul.Skill li span.Bar { 
height:18px; 
margin:1px 2px;  
position:absolute;
border-radius:10px;
-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}
/*==========================
@ NAME       : Counter
@ DOCS       : Css
@ PT-CLASS   : Bar
@ SINTEKSIS  : Skill
==========================*/
.Carapace ul.Counter {list-style: none;position: relative;padding-left: 55px;}
.Carapace ul.Counter::before {content: "";height: calc(100% - 100px);width: 1px;position: absolute;top: 0;left: 21px;}
.Carapace ul.Counter li {position: relative;}
.Carapace ul.Counter li::before {content: attr(data-counter);position: absolute;top: 0px;left: -54px;height: 40px;width: 40px;line-height: 40px;border-radius: 50%;text-align: center;}
.Carapace ul.Counter li strong{position:relative;top: 10px;font-size: 25px;}
/*=============================================*/
/*=== CSS IP(PT) Base ===*/
.PapaTheo .Base {
  padding: 1em 0em 0em 0em;
 }

/*==========================
@ NAMA CLS     : PapaTheo
@ FILE TYPE    : Media Only
@ FILE DOKUMEN : 60em
@ FILE ARCHIVE : Max 30em / Max 60em /
==========================*/
@media only screen and (max-width: 60em) {
.PapaTheo .Base {
  padding: 1em 1em 1em 1em;
  }
.PapaTheo .hr {
  padding-left: 1em;
  padding-right: 1em;
  }
}

/*==========================
@ NAMA CLS     : PapaTheo
@ FILE TYPE    : Media Only
@ FILE DOKUMEN : 30em
@ FILE ARCHIVE : Max 30em / Max 60em /
==========================*/
@media only screen and (max-width: 30em) {
.PapaTheo .Base {
  padding: 1em 1em 1em 1em;
  }
.PapaTheo .hr {
  padding-left: 1em;
  padding-right: 1em;
  }
}
