/*==========================
@ NAMA         : PapaTheo
@ DOCS ID      : Css
@ TYPE CLASS   : Head
@ REL DOCUMENT : Carapace
===========================*/
.PapaTheo section {margin: 0;box-sizing: border-box;}
/*==========================
@ PT-IP      : Carapace
@ PT-TYPE    : Note
@ PT-CLASS   : Docs__Post
@ PT-ARCHIVE : March / Nissa / Waves
===========================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.PapaTheo .Carapace .Docs__Post h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.40em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h5 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.10em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post p {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.40em;
  font-family: 'Lato', sans-serif;
  }
.PapaTheo .Carapace .Docs__Post h2 code {box-sizing: border-box;padding: 3px 3px;border-radius: 5px;font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;}
.PapaTheo .Carapace .Docs__Post p code {padding: 2px 2px;border-radius:2px;box-sizing:border-box;font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;}
.PapaTheo .Carapace .Docs__Post p a {padding: 1px 1px;box-sizing:border-box;}
/*==========================
@ PT-IP      : Carapace
@ PT-TYPE    : @Media Only Screen And
@ PT-CLASS   : max-width
@ PT-ARCHIVE : Max 30em / Max 60em /
==========================*/
/*=== CSS IP(PT) Base ===*/
.PapaTheo .Base {
  padding: 1em 0em 0em 0em;
 }

/*==========================
@ NAMA CLS     : PapaTheo
@ FILE TYPE    : Media Only
@ FILE DOKUMEN : 60em
@ FILE ARCHIVE : Max 30em / Max 60em /
==========================*/
@media only screen and (max-width: 60em) {
.PapaTheo .Base {
  padding: 1em 1em 1em 1em;
  }
.PapaTheo .hr {
  padding-left: 1em;
  padding-right: 1em;
  }
}

/*==========================
@ NAMA CLS     : PapaTheo
@ FILE TYPE    : Media Only
@ FILE DOKUMEN : 30em
@ FILE ARCHIVE : Max 30em / Max 60em /
==========================*/
@media only screen and (max-width: 30em) {
.PapaTheo .Base {
  padding: 1em 1em 1em 1em;
  }
.PapaTheo .hr {
  padding-left: 1em;
  padding-right: 1em;
  }
}
