.footercup {
  color: #616161;
  padding: 0px 0;
}
.footercup .liptop {
  width: none;
  box-sizing: border-box;
  padding-left: 0.50em;
  padding-right: 0.50em;
}
.card_id {
  display: inline-block;
  float: center;
  width: 100%;
  height: none;
  background-color: #eaeef6;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0.50em 1em 0.50em 1em;
  transition: 0.3s;
  box-sizing: border-box;
}
.card_id .face_id {
  display: flex;
  align-items: center;
}
.card_id .face_id a > img {
  width: 70px;
  height: 70px;
  border-radius: 5%;
  border: 1px #191919 solid;
  box-shadow: 0px 2px 8px 2px rgb(0 0 0 / 8%);
}
.card_id .text_name {
  font-weight: bold;
  margin-left: 10px;
}
.card_id .text_name a{
  color: #4E4DED;
  font-weight: bold;
  font-size: 25px;
  }
.card_id .face_id .text_name .desk_name{
  color: #000080;
  font-size: 15px;
  font-weight: 300;
}
.card_id .pro_info {
  margin-left: 0px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #111;
  line-height: 1.7;
  font-weight: 300;
}
.card_id .contact_box_id {
  display: flex;
  padding: 8px;
  }
.card_id .contact_box_id a,
.card_id .contact_box_id span {
  flex: 1 1 30%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #4E4DED;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.card_id .bott_info a.date {
  font-weight: 600;
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 2px white, 0 3px #666;
}
.bott_info {
  display: flex;
  justify-content: space-between;
}
.bott_info .check {
  width: none;
  font-size: 15px;
}
.bott_info .date {
  color: #4E4DED;
  font-size: 15px;
}
.deskrip-text-id {
  padding: 10px;
  width: none;
  font-size: 17px;
  text-align: center;
  box-sizing: border-box;
  }
.deskrip-text-id p {
  color: #000;
  font-size: 17px;
  }
.deskrip-text-id p i {
  color: #ff0000;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  }
/* Footer Flexuser */
.footercup .flexuser {position: relative;top: 0;max-width: 100%;margin: 0 auto;padding: 0; height:250px;}
.footercup .flexuser hr{border: 0.01rem #fff solid;}
.footercup .flexuser .fix {
  float:left;
  margin: 0% 0% 0% 0%;
  box-sizing: border-box;
}
.footercup .flexuser .fix:first-child { margin-left: 0;}
.footercup .flexuser .boxuser_1 {
  width: 34.99%;
}
.footercup .flexuser .boxuser_2 {
  width: 65%;
}
@media only screen and (max-width: 900px) {
.footercup .flexuser {height:550px;}
.footercup .flexuser .fix{margin: 0;}
.footercup .flexuser .boxuser_1,
.footercup .flexuser .boxuser_2 {width:100%;}
}
#FirmansyahNewsletter {width:100%; min-width:300px; height:auto; border-top: 0px #000 solid; border-radius:0px; display: block; margin:auto; line-height:40px; padding:0px} 
#FirmansyahNewsletter .email__ {padding:15px 15px 5px;} 
#FirmansyahNewsletter .email {font-weight: 600;margin:auto; color:#000;} 
#FirmansyahNewsletter .email:before {content:''; width:50px; height:50px; display:block; text-align:center; margin:auto; border-radius:100px; transition:all .3s ease; -webkit-animation:FirmansyahBio 5s 0s ease-in-out infinite; -webkit-transform-origin:50% 4px; -moz-animation:FirmansyahBio 5s 0s ease-in-out infinite; -moz-transform-origin:50% 4px; animation:FirmansyahBio 5s 0s ease-in-out infinite; transform-origin:50% 4px; background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21M19.75,3.19L18.33,4.61C20.04,6.3 21,8.6 21,11H23C23,8.07 21.84,5.25 19.75,3.19M1,11H3C3,8.6 3.96,6.3 5.67,4.61L4.25,3.19C2.16,5.25 1,8.07 1,11Z' fill='%234E4DED'/%3E%3C/svg%3E") center center / 50px no-repeat;}

.footercup ul {
  list-style: none;
  }
.footercup ul li{
  list-style: none;
  }
.footbox ul,
.links ul {list-style-type: none;}
.links {
  color: #616161;
  font-size: 14px;
  padding: 0px 0;
}
/* Social Icons */
.footercup .socialcap {
  text-align: center;
}
.footercup .socialcap a {
  width: 25px;
  color: #fff;
  height: 25px;
  padding: 5px;
  font-size: 20px;
  margin-left: 3px;
  margin-top: 6px;
  border-radius: 5px;
  background: #767eeb;
  display: inline-block;
  vertical-align: middle;
  
}
.footercup .socialcap a:hover {
  background: #65c2ed;
}
.linkscup ul h3 {
  color: #aeaafe;
  font-size: 1em;
  font-weight: bold;
  line-height: .70em;
}
.linkscup ul h3 i {
  margin-right: 5px;
  color: #4E4DED;
  }
.linkscup ul li span.diverti {position:relative;font-size:11px;
top: -16px; width:none;color:000080;}
.linkscup ul a {
  color: #000;
  font-size: 15px;
}
.linkscup li {
  line-height: .95em;
}
.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  align-items: flex-start;
  justify-content: center;
}
/*=== FOOTER FOOTBOX | 00004 |===*/
.footercup .footboxcup {
  color: #000;
  font-size: 14px;
  padding: 20px 0;
}
.footercup .footboxcup a{
 color: #000;
}
.footbox-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footercup .footboxcup div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footercup .footboxcup div i {
  margin-right: 10px;
}
.footercup .footboxcup ul {
  display: flex;
  flex-wrap: wrap;
}
.footercup .footboxcup ul li a{
  margin-right: 30px;
  margin-bottom: 30px;
}
/* === FOOTER | MEDIA |===*/
@media(max-width: 700px) {
.links-inner {
  grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 500px) {
.links-inner {
    grid-template-columns: 1fr;
  }
  .links .links-inner ul {
    margin-bottom: 25px;
  }
}
/* === FOOTER | MEDIA |===*/
.footercup .copyright {
  margin-left: 25px;
  margin-bottom: 15px;
  }
.footercup .copyright .list-copyright {font-size: 13px;color:#000;}
.footercup .copyright .list-copyright a {color: #ff0000;}


