.footercup {
  color: #616161;
  padding: 0px 0;
}
.footercup ul {
  list-style: none;
  }
.footercup ul li{
  list-style: none;
  }
.footbox ul,
.links ul {list-style-type: none;}
.links {
  color: #616161;
  font-size: 14px;
  padding: 0px 0;
}
/* Social Icons */
.footercup .socialcap {
  text-align: center;
}
.footercup .socialcap a {
  width: 25px;
  color: #fff;
  height: 25px;
  padding: 5px;
  font-size: 20px;
  margin-left: 3px;
  margin-top: 6px;
  border-radius: 5px;
  background: #767eeb;
  display: inline-block;
  vertical-align: middle;
  
}
.footercup .socialcap a:hover {
  background: #65c2ed;
}
.linkscup ul h3 {
  color: #4e4ded;
  font-size: 1em;
  font-weight: bold;
  line-height: .70em;
}
.linkscup ul h3 i {
  margin-right: 5px;
  color: #ff1010;
  }
.linkscup ul a {
  color: #000;
  font-size: 15px;
}
.linkscup li {
  line-height: .95em;
}
.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  align-items: flex-start;
  justify-content: center;
}
/*=== FOOTER FOOTBOX | 00004 |===*/
.footercup .footboxcup {
  color: #000;
  font-size: 14px;
  padding: 20px 0;
}
.footercup .footboxcup a{
 color: #000;
}
.footbox-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footercup .footboxcup div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footercup .footboxcup div i {
  margin-right: 10px;
}
.footercup .footboxcup ul {
  display: flex;
  flex-wrap: wrap;
}
.footercup .footboxcup ul li a{
  margin-right: 30px;
  margin-bottom: 30px;
}
/* === FOOTER | MEDIA |===*/
@media(max-width: 700px) {
.links-inner {
  grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 500px) {
.links-inner {
    grid-template-columns: 1fr;
  }
  .links .links-inner ul {
    margin-bottom: 25px;
  }
}
/* === FOOTER | MEDIA |===*/
.footercup .copyright {
  margin-left: 25px;
  margin-bottom: 15px;
  }
.footercup .copyright .list-copyright {font-size: 13px;color:#000;}
.footercup .copyright .list-copyright a {color: #ff0000;}


