.prev-to-next {
  height: 80px;
  display: flex;
  position: relative;
}
.prev-to-next .next {
  position: absolute;
  bottom: 3px;
  right: 10px;
  width: 40%;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  background: none;
  border: none;
  display: flex;
  text-transfroms: uppercase;
  align-items: center;
  justify-content: center;
}
.prev-to-next .next {
  background: #111;
  border-radius: 5px;
  color: white;
}
.prev-to-next .next:hover {
  background: #7952b3;
}
.prev-to-next .next-svg {
  width: 25px;
  height: 25px;
}
.prev-to-next .next svg {
  position: absolute;
  margin-left: 50px;
  fill: transparent;
  transition: 500ms;
}
.prev-to-next .next span {
  font-size: 20px;
  transition: 500ms;
}
.prev-to-next .next:hover svg {
  fill: white;
  margin-left: 80px;
}
.prev-to-next .prev {
position: absolute;
bottom: 3px;
left: 10px;
width: 40%;
height: 40px;
cursor: pointer;
margin-top: 10px;
background: none;
border: none;
display: flex;
text-transfroms: uppercase;
align-items: center;
justify-content: center;
}
.prev-to-next .prev {
background: #111;
border-radius: 5px;
color: white;
}
.prev-to-next .prev:hover {
background: #7952b3;
}
.prev-to-next .prev-svg {
width: 25px;
height: 25px;
}
.prev-to-next .prev svg {
position: absolute;
margin-right: 50px;
fill: transparent;
transition: 500ms;
}
.prev-to-next .prev span {
font-size: 20px;
transition: 500ms;
}
.prev-to-next .prev:hover svg {
margin-right: 80px;
fill: white;
}
