.firmansyahbio section {margin: 0;box-sizing: border-box;}
.firmansyahbio .hr {left: 0;width: none;margin: 0;height: 10px;margin-top: -20px;margin-left: 0;padding-left: 0em;padding-right: 0em;background-color: #eaeef6;position: relative;}
.firmansyahbio .hr div{width: none;height: 10px;display: block;position: relative;background-color: #4E4DED;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.firmansyahbio .carapace .text_bio {font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;}
.firmansyahbio .carapace .text_bio {font-family: 'Lato', sans-serif;font-weight: 400;font-size: 16px;}
.firmansyahbio .carapace .text_bio h1 {font-family: "Cormorant Garamond", serif;}
.firmansyahbio .carapace .text_bio h1 {font-size: 45px;line-height:1.10em}
.firmansyahbio .carapace .text_bio h1 code {border-radius: 5px;}
.firmansyahbio .carapace .text_bio h2 {font-family: 'rubik', sans-serif;}
.firmansyahbio .carapace .text_bio h2 {font-size: 38px;font-weight: 700;line-height: 1.40em;letter-spacing: 3px;margin-bottom: 2rem;}
.firmansyahbio .carapace .text_bio h2 code {box-sizing: border-box;padding: 3px 3px;border-radius: 5px;font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;}
.firmansyahbio .carapace .text_bio h3 {font-family: "MD Primer Bold", Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;}
.firmansyahbio .carapace .text_bio h3 {box-sizing: border-box;font-size: 2rem; letter-spacing: 0.03rem;font-weight:700; line-height: 1.1; scroll-margin-top: 100px;}
.firmansyahbio .carapace .text_bio h3 code {box-sizing: border-box; font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; font-size: 25.208px; letter-spacing: -0.05rem; opacity: 0.5;}
.firmansyahbio .carapace .text_bio h4 {font-family: 'Dongle' , sans-serif;font-size: 26px;margin-bottom: 0px;bottom:0px;line-height: 1.10em;font-weight: bold;}
.firmansyahbio .carapace .text_bio p {font-family: 'Lato', sans-serif;}
.firmansyahbio .carapace .text_bio p {font-weight: 400;font-size: 16px;}
.firmansyahbio .carapace .text_bio p code {border-radius:3px;box-sizing: border-box;padding:2px 3px;letter-spacing:.02rem;line-height:1.4;text-shadow:0 1px white;font-family:Consolas,Monaco,'Fredoka One',cursive;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}
.firmansyahbio .carapace .text_bio .span-text {font-size: 1.200rem;line-height: 1.200rem;font-weight: bold;margin-top: 20px;font-family: Andale Mono, monospace;}
.firmansyahbio .carapace .text_bio .pinbox {padding:10px;margin-top:5px;margin-bottom:5px;border-top-right-radius:5px;border-bottom-right-radius: 5px;}
.firmansyahbio .carapace .text_bio ul.liticon {list-style: none;padding: 0;}
.firmansyahbio .carapace .text_bio ul.liticon li {line-height: 2.4rem;}
.firmansyahbio .carapace .text_bio ul.liticon li i {margin-right: 10px;}
.firmansyahbio .carapace .text_bio .btn {padding: 7px 12px;border-radius: 5px;}
.firmansyahbio .carapace .text_bio .btn-none{position: relative;display: block;margin-top: 5px;margin-bottom: 5px;font-weight: bold;text-align: center;width: none;transition: all .4s ease-in;}
.firmansyahbio .carapace .text_bio .btn-main{position: relative;display: block;margin-top: 5px;margin-bottom: 5px;font-weight: bold;text-align: center;width: none;transition: all .4s ease-in;}


.firmansyahbio .carapace ol.olince {
  list-style: none;
  counter-reset: list-counter;
  margin:0px; padding:0px;
}
.firmansyahbio .carapace ol.olince li {
  margin-bottom: 1rem;
}
.firmansyahbio .carapace ol.olince li strong{
  position: absolute;
  margin-left: 1.80em;
  margin-top: -1.80em;
  font-size: 25px;
}
.firmansyahbio .carapace ol.olince li p{
  margin-left: 3em;
}
.firmansyahbio .carapace ol.olince > li {
  counter-increment: list-counter;
  margin-bottom: 1rem;
}
.firmansyahbio .carapace ol.olince > li::before {
  content: counter(list-counter);
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
/* CSS Counter */
.carapace ul.counter {
  list-style: none;
  position: relative;
  padding-left: 55px;
}
.carapace ul.counter::before {
  content: "";
  height: calc(100% - 100px);
  width: 1px;
  position: absolute;
  top: 0;
  left: 21px;
}
.carapace ul.counter li {
  position: relative;
}
.carapace ul.counter li::before {
  content: attr(data-counter);
  position: absolute;
  top: 0px;
  left: -54px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
.carapace ul.counter li strong{
  font-size: 25px;
}

/* CSS Choose */
.carapace .choose {
  transition: .4s;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.carapace .choose::before {
  content: "";
  left: 0;
  right: 0;
  width: 90%;
  top: -130px;
  height: 70%;
  margin: auto;
  border-radius: 50%;
  position: absolute;
}
.carapace .choose:hover{
  transform: translateY(-10px);
}
.carapace .choose span i::before {
  margin-left: 0;
  font-size: 40px;
}
.carapace .choose span i {
  width: 85px;
  height: 85px;
  transition: .6s;
  line-height: 85px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
/* CSS Flexbox */
.carapace .flexbox {position: relative;top: 0;max-width: 100%;margin: 0 auto;padding: 0;}
.carapace .flexbox hr{border: 0.01rem #fff solid;}
.carapace .flexbox .mix {
  float:left;
  margin: 0% 0% 0% 0%;
  box-sizing: border-box;
}
.carapace .flexbox .mix:first-child { margin-left: 0;}

/*=== Flexbox ( Skin-0 ) ===*/
.carapace .skin-0 .flex-1 {
  width: 99.99%;
}
.carapace .skin-0 .flex-2 {
  width: 99.99%;
}
.carapace .skin-0 .flex-3 {
  width: 99.99%;
}
.carapace .skin-0 .flex-4 {
  width: 99.99%;
}
.carapace .skin-0 .flex-5 {
  width: 99.99%;
}

/*=== Flexbox ( Skin-1 ) ===*/
.carapace .skin-1 .flex-1 {
  width: 99.99%;
}
.carapace .skin-1 .flex-2 {
  width: 99.99%;
}
.carapace .skin-1 .flex-3 {
  width: 70%;
}
.carapace .skin-1 .flex-4 {
  width: 30%;
}
.carapace .skin-1 .flex-5 {
  width: 99.99%;
}

/*=== Flexbox ( Skin-2 ) ===*/
.carapace .skin-2 .flex-1 {
  width: 99.99%;
}
.carapace .skin-2 .flex-2 {
  width: 20%;
}
.carapace .skin-2 .flex-3 {
  width: 49.98%;
}
.carapace .skin-2 .flex-4 {
  width: 30%;
}
.carapace .skin-2 .flex-5 {
  width: 99.99%;
}

/*=== Flexbox ( Skin-3 ) ===*/
.carapace .skin-3 .flex-1 {
  width: 99.99%;
}
.carapace .skin-3 .flex-2 {
  width: 99.99%;
}
.carapace .skin-3 .flex-3 {
  width: 99.99%;
}
.carapace .skin-3 .flex-4 {
  width: 49.99%;
}
.carapace .skin-3 .flex-5 {
  width: 50%;
}

/*=== Flexbox ( Skin-4 ) ===*/
.carapace .skin-4 .flex-1 {
  width: 99.99%;
}
.carapace .skin-4 .flex-2 {
  width: 99.99%;
}
.carapace .skin-4 .flex-3 {
  width: 99.99%;
}
.carapace .skin-4 .flex-4 {
  width: 49.99%;
}
.carapace .skin-4 .flex-5 {
  width: 50%;
}

/*=== Flexbox ( Skin-5 ) ===*/
.carapace .skin-5 .flex-1 {
  width: 99.99%;
}
.carapace .skin-5 .flex-2 {
  width: 49.99%;
}
.carapace .skin-5 .flex-3 {
  width: 50%;
}
.carapace .skin-5 .flex-4 {
  width: 49.99%;
}
.carapace .skin-5 .flex-5 {
  width: 50%;
}

/*=== Flexbox ( Skin-6 ) ===*/
.carapace .skin-6 .flex-1 {
  width: 49.99%;
}
.carapace .skin-6 .flex-2 {
  width: 50%;
}
.carapace .skin-6 .flex-3 {
  width: 99.99%;
}
.carapace .skin-6 .flex-4 {
  width: 49.99%;
}
.carapace .skin-6 .flex-5 {
  width: 50%;
}

/*=== Flexbox ( Skin-7 ) ===*/
.carapace .skin-7 .flex-1 {
  width: 49.99%;
}
.carapace .skin-7 .flex-2 {
  width: 50%;
}
.carapace .skin-7 .flex-3 {
  width: 99.99%;
}
.carapace .skin-7 .flex-4 {
  width: 99.99%;
}
.carapace .skin-7 .flex-5 {
  width: 99.99%;
}

/*=== Flexbox ( Media Query ) ===*/
@media only screen and (max-width: 900px) {
.carapace .flexbox .mix{margin: 0;}
.carapace .flexbox .flex-1,
.carapace .flexbox .flex-2,
.carapace .flexbox .flex-3,
.carapace .flexbox .flex-4,
.carapace .flexbox .flex-5 {width:100%;}
}
/*=== Ditto ( CSS Ditto ) ===*/
.firmansyahbio .carapace .ditto {padding-right: 20px;margin-left: 30px;}
.firmansyahbio .carapace .ditto:before {font-family: FontAwesome;margin-left: -30px;font-size: 90px;line-height: 1em;position: absolute;content: "\22";}
/*=== CSS Music ( music_pro ) ===*/
.firmansyahbio .carapace .music_bio {border-radius: 5px;width: none;padding: 5px;margin: auto;margin-top: 0px;box-sizing: border-box;}
.firmansyahbio .carapace .music_bio .btn-ctn {display: flex;padding: 8px;}
.firmansyahbio .carapace .music_bio .btn-ctn .btn-action {flex: 1 1 30%;padding: 5px;margin: 5px;border-radius: 5px;text-align: center;display: inline-block;width: 15px;height: 15px;font-size: 10px;font-weight: bold;box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);z-index: 5;transition: all 0.2s;cursor: pointer;}
.firmansyahbio .carapace .music_bio #myProgress {width: 100%;cursor: pointer;border-radius: 10px;}
.firmansyahbio .carapace .music_bio #myBar {width: 1%;height: 2px;border-radius: 10px;}
.firmansyahbio .carapace .music_bio .player-box {width: none;height: none;}
.firmansyahbio .carapace .music_bio .btn-ctn,.firmansyahbio .carapace .music_bio .infos-ctn {display: flex;align-items: center;justify-content: center;position: relative;}
.firmansyahbio .carapace .music_bio .infos-ctn{padding-top: 10px;}
.firmansyahbio .carapace .music_bio .btn-ctn > div {padding: 0%;margin-top: 10px;margin-bottom: 10px;}
.firmansyahbio .carapace .music_bio .infos-ctn > div {margin-bottom: 8px;}
.firmansyahbio .carapace .music_bio .first-btn {margin-left: 5px;}
.firmansyahbio .carapace .music_bio .duration{margin-left: 5px;}
.firmansyahbio .carapace .music_bio .titmusic{margin-left: 10px;width: 90%;text-align: center;}
.firmansyahbio .carapace .music_bio .playlist-track-ctn{display: flex;height: none;width: none;overflow: hidden;margin-top: 3px;padding-top: 5px;border-radius: 5px;cursor: pointer;scroll-snap-type: x mandatory;overflow-x: scroll;overflow-y: hidden;left: 0;box-sizing: border-box;}
.firmansyahbio .carapace .music_bio .playlist-track-ctn > div{margin: 3px 10px 3px 3px;}
.firmansyahbio .carapace .music_bio .playlist-info-track{width: 100%;position: relative;top: 0px;left: -5px;}
.firmansyahbio .carapace .music_bio .playlist-info-track,
.firmansyahbio .carapace .music_bio .playlist-duration{padding-top: 0px;padding-bottom: 7px;font-size: 17px;pointer-events: none;}
.firmansyahbio .carapace .music_bio .playlist-ctn{width: none;box-sizing: border-box;padding-bottom: 0px;display: block;}
.firmansyahbio .carapace .music_bio .active-track{font-weight: bold;}
.firmansyahbio .carapace .music_bio .active-track >.firmansyahbio .carapace .music_bio .playlist-info-track,.active-track >.firmansyahbio .carapace .music_bio .playlist-duration,.active-track >.firmansyahbio .carapace .music_bio .playlist-btn-play{color: #fff !important;}
.firmansyahbio .carapace .music_bio .playlist-btn-play{pointer-events: none;padding-top: 0px;padding-bottom: 0px;}
.firmansyahbio .carapace .music_bio .fas{font-size: 15px;}
.firmansyahbio .carapace .music_bio .timer {float: left;width: 60px;height: 20px;text-align: left;position: relative;}
.firmansyahbio .carapace .music_bio .duration {float: right;width: 60px;height: 20px;text-align: right;position: relative;}
.firmansyahbio .carapace .music_bio .titmar {width: 100%;margin-left: 0px;margin-right: 0px;}
/*=== CSS Quote ===*/
.firmansyahbio .carapace .quotes_bio blockquote {padding-right: 0px;margin-left: 30px;}
.firmansyahbio .carapace .quotes_bio blockquote:before {font-family: FontAwesome;margin-top: -8px;margin-left: -25px;font-size: 20px;font-weight: bold;position: absolute;content: "\f10d";}
.firmansyahbio .carapace .quotes_bio blockquote p {font-weight: bold;margin-bottom: 15px;font-size: 20px;line-height: 1.20em;text-align: left;position: relative;}
.firmansyahbio .carapace .quotes_bio blockquote i.name {font-size: 12px;font-weight: italic;}
/*=== Media Only 60em ===*/
@media only screen and (max-width: 60em) {
.firmansyahbio .hr {
  padding-left: 1em;
  padding-right: 1em;
  }
}
/*=== Media Only 30em ===*/
@media only screen and (max-width: 30em) {
.firmansyahbio .hr {
  padding-left: 1em;
  padding-right: 1em;
  }
}
