.post .post-body .firmansyahbio section {clear: both;margin: 0;box-sizing: border-box;}
.post .post-body .firmansyahbio .carapace {font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;}
.post .post-body .firmansyahbio .carapace h1 {font-family: "Cormorant Garamond", serif;}
.post .post-body .firmansyahbio .carapace h1 {font-size: 45px;}
.post .post-body .firmansyahbio .carapace h1 code {border-radius: 5px;}
.post .post-body .firmansyahbio .carapace h2 {font-family: 'rubik', sans-serif;}
.post .post-body .firmansyahbio .carapace h2 {font-size: 38px;font-weight: 700;line-height: 1.23em;letter-spacing: 3px;margin-bottom: 2rem;}
.post .post-body .firmansyahbio .carapace h2 code {border-radius: 5px;}
.post .post-body .firmansyahbio .carapace h3 {font-family: "MD Primer Bold", Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;}
.post .post-body .firmansyahbio .carapace h3 {box-sizing: border-box;font-size: 2rem; letter-spacing: 0.03rem;font-weight:700; line-height: 1.1; scroll-margin-top: 100px;}
.post .post-body .firmansyahbio .carapace h3 code {box-sizing: border-box; font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; font-size: 25.208px; letter-spacing: -0.05rem; opacity: 0.5;}
.post .post-body .firmansyahbio .carapace p {font-family: 'Lato', sans-serif;}
.post .post-body .firmansyahbio .carapace p {font-weight: 400;font-size: 16px;}
.post .post-body .firmansyahbio .carapace p code {line-height: 1em;font-family: courier;font-size: 20px;}
.post .post-body .firmansyahbio .carapace .pinbox {padding:10px;margin-top:5px;margin-bottom:5px;border-top-right-radius:5px;border-bottom-right-radius: 5px;}
.post .post-body .firmansyahbio .carapace ul.liticon {list-style: none;padding: 0;}
.post .post-body .firmansyahbio .carapace ul.liticon li {line-height: 2.4rem;}
.post .post-body .firmansyahbio .carapace ul.liticon li i {margin-right: 10px;}
.post .post-body .firmansyahbio .carapace .btn {padding: 7px 12px;border-radius: 5px;}
.post .post-body .firmansyahbio .carapace .btn-main{position: relative;display: block;margin-top: 5px;margin-bottom: 5px;font-weight: bold;text-align: center;width: none;transition: all .4s ease-in;}
