:root {
  --cl-defa: #000000;
  --cl-bink: #353535;
  --cl-dewp: #000080;
}
:root {
  /* Background Default */
  --bg-defa: #EAEEF6;
  /* Background Default */
  --bg-main: #e8f0fe;
  /* Background Default */
  --bg-slow: #EAEEFF;
  /* Background Default */
  --bg-snop: #EAEEF6;
  /* Background Default */
  --bg-pops: #405070;
  /* Background Default */
  --bg-wols: #405070;
}
.bg-df {background: var(--bg-defa);}
/*=== CSS BODY DESIGN ===*/
.note p{color: #174EA6;}
.note h1{color: #353535;}
.note h2{color: #000080;}
.note h3{color: #000000;}
.note h4{color: #aeaafe;}
.note h5{color: #00baff;}
.note h6{color: #E83B3E;}
.note .p{color: #111111;}
.note h2 code{color: white;background-color: #767EEB;}
.note .pinbox {border-left: 7px #000080 solid; background: var(--bg-main);}
.note p code {color: #ff1010;background: var(--bg-main);}
.note .btn-none {color: #4E4DED;border: 1px #4E4DED solid;}
.note .btn-none:hover {color: white;background: #767EEB;border: 1px #4E4DED solid;}
.note .btn-main {color: white;background: #767EEB;border: 1px #4E4DED solid;}
.note .btn-main:hover {color: white;background: #000080;border: 1px #000 solid;}
/* CSS Inote */
/*=== Inote ( Slon-1 ) ===*/
.note .slon-1 {
  background: rgba(216, 58, 14, 0.44);
}
.note .slon-1 div {
  color: #ffffff;
  text-align: center;
  background: #d83a0e;
}
/*=== Inote ( Slon-2 ) ===*/
.note .slon-2 {
  background: rgba(221, 196, 14, 0.45);
}
.note .slon-2 div {
  color: #ffffff;
  text-align: center;
  background: #ddc40e;
}
/*=== Inote ( Slon-3 ) ===*/
.note .slon-3 {
  background: rgba(13, 211, 56, 0.4);
}
.note .slon-3 div {
  color: #ffffff;
  text-align: center;
  background: #0dd338;
}
/*=== Inote ( Slon-4 ) ===*/
.note .slon-4 {
  background: rgba(15, 230, 223, 0.56);
}
.note .slon-4 div {
  color: #ffffff;
  text-align: center;
  background: #0fe6df;
}
/*=== Inote ( Slon-5 ) ===*/
.note .slon-5 {
  background: rgba(171, 18, 135, 0.61);
}
.note .slon-5 div {
  color: #ffffff;
  text-align: center;
  background: #ab1287;
}
/*=== Inote ( Slon-6 ) ===*/
.note .slon-6 {
  background: rgba(17, 13, 211, 0.57);
}
.note .slon-6 div {
  color: #ffffff;
  text-align: center;
  background: #110dd3;
}
/* CSS Olince */
.note ol.olince > li::before {
  color: #767eeb;
  background-color: rgba(36, 49, 224, 0.27);
  }

/* CSS Choose */
.note .choose::before {
  background:#4E4DED;
}
.note .choose:hover span i{
  color: white;
  background: #767EEB;
}
.note .choose span i {
  color: #4E4DED;
  background: white;
  }
/*=== CSS Music ( music_pro ) ===*/
.music .music_pro {
  background-color: rgba(36, 49, 224, 0.27);
  }
.music .music_pro #myProgress {
  background: #fff; 
  }
.music .music_pro #myBar {
  background: #ff0101;
  }
.music .music_pro .btn-ctn .btn-action {
  background: #4E4DED;
  color: #ffffff;
}
.music .music_pro .infos-ctn > div {
  color: #ffffff;
  }
.music .music_pro .titmusic{
  color: #fff;
  }
.music .music_pro .playlist-track-ctn{
  background: #4E4DED;
  border: 1px solid #000000;
  }
.music .music_pro .playlist-info-track,
.music .music_pro .playlist-duration {
color: #ffffff;
  }
.music .music_pro .active-track{
background: #767EEB;
color: #ffffff !important;
border: 1px solid #ffffff;
}
.music .music_pro .fas{
  color: #fff;
}
