.firmansyahbio .carapace_quote blockquote {
  padding-right: 0px;
  margin-left: 30px;
  }
.firmansyahbio .carapace_quote blockquote:before {
  font-family: FontAwesome;
  margin-top: -8px;
  margin-left: -25px;
  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  content: "\f10d";
}
.carapace_quote blockquote p {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.20em;
  color: gray;
  text-align: left;
  position: relative;
}
.firmansyahbio .carapace_quote blockquote i.name {
  font-size: 12px;
  font-weight: italic;
  }
