/*=== CSS NOTE MARCH ===*/
.note .march {background: #EAEEF6;}
.note .march p{color: gray;}
.note .march p a {color: #ff1493;}
.note .march p code {color: #ff1010;background: var(--bg-main);}
.note .march h1 {color: #353535;}
.note .march h2 {color: #000080;}
.note .march h2 code {color: #FFF;background: #767EEB;}
.note .march h3{color: #4E4DED;}
.note .march h4{color: #AEAAFE;}
.note .march h5{color: #00baff;}
.note .march h6{color: #E83B3E;}
.note .march hr {border: 5px #aeaafe solid;}
.note .march .pinbox {border-left: 7px #000080 solid; background: #e8f0fe;}
.note .march .btn-none {color: #4E4DED;border: 1px #4E4DED solid;}
.note .march .btn-none:hover {color: white;background: #767EEB;border: 1px #4E4DED solid;}
.note .march .btn-main {color: white;background: #767EEB;border: 1px #4E4DED solid;}
.note .march .btn-main:hover {color: white;background: #000080;border: 1px #000 solid;}
/*=== CSS NOTE NISSA ===*/
.note .nissa {background: #ff1493;}
/*=== CSS NOTE WAVES ===*/
.note .waves {background: #4E4DED;}



/*=== Inote ( Slon-1 ) ===*/
.carapace .waves {box-sizing:border-box;padding: 0.50em 0.50em 0.50em 0.50em;}

.note .march .slon-1 {
  background: rgba(216, 58, 14, 0.44);
}
.note .march .slon-1 div {
  color: #ffffff;
  text-align: center;
  background: #d83a0e;
}
/*=== Inote ( Slon-2 ) ===*/
.note .mars .slon-2 {
  background: rgba(221, 196, 14, 0.45);
}
.note .mars .slon-2 div {
  color: #ffffff;
  text-align: center;
  background: #ddc40e;
}
/*=== Inote ( Slon-3 ) ===*/
.note .mars .slon-3 {
  background: rgba(13, 211, 56, 0.4);
}
.note .mars .slon-3 div {
  color: #ffffff;
  text-align: center;
  background: #0dd338;
}
/*=== Inote ( Slon-4 ) ===*/
.note .mars .slon-4 {
  background: rgba(15, 230, 223, 0.56);
}
.note .mars .slon-4 div {
  color: #ffffff;
  text-align: center;
  background: #0fe6df;
}
/*=== Inote ( Slon-5 ) ===*/
.note .mars .slon-5 {
  background: rgba(171, 18, 135, 0.61);
}
.note .mars .slon-5 div {
  color: #ffffff;
  text-align: center;
  background: #ab1287;
}
/*=== Inote ( Slon-6 ) ===*/
.note .mars .slon-6 {
  background: rgba(17, 13, 211, 0.57);
}
.note .mars .slon-6 div {
  color: #ffffff;
  text-align: center;
  background: #110dd3;
}

/* CSS Olince */
.note .mars ol.olince > li::before {
  color: #767eeb;
  background-color: rgba(36, 49, 224, 0.27);
  }

/* CSS Choose */
.note .mars .choose::before {
  background:#4E4DED;
}
.note .mars .choose:hover span i{
  color: white;
  background: #767EEB;
}
.note .mars .choose span i {
  color: #4E4DED;
  background: white;
  }
/*=== CSS Music ( music_pro ) ===*/
.audio .music_bio {
  background-color: rgba(36, 49, 224, 0.27);
  }
.audio .music_bio #myProgress {
  background: #fff; 
  }
.audio .music_bio #myBar {
  background: #ff0101;
  }
.audio .music_bio .btn-ctn .btn-action {
  background: #4E4DED;
  color: #ffffff;
}
.audio .music_bio .infos-ctn > div {
  color: #ffffff;
  }
.audio .music_bio .titmusic{
  color: #fff;
  }
.audio .music_bio .playlist-track-ctn{
  background: #4E4DED;
  border: 1px solid #000000;
  }
.audio .music_bio .playlist-info-track,
.audio .music_bio .playlist-duration {
color: #ffffff;
  }
.audio .music_bio .active-track{
background: #767EEB;
color: #ffffff !important;
border: 1px solid #ffffff;
}
.audio .music_bio .fas{
  color: #fff;
}
/*=== CSS Quote ===*/
.firmansyahbio .quotes .quotes_bio blockquote p {color: gray;}
.firmansyahbio .quotes .quotes_bio blockquote:before {color: #ff0000;}
