
body {
background: #ffffff;
color: #111;
width: 100%;
margin: 0;
padding: 0;
}
.homepage {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 50px;
z-index: 100;
box-sizing: border-box;
background: #000080;
}
