@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
/* Container Box Milipage */
.milipage-connect{
  height: 150px;
  padding: 0px;
  margin: 0 auto;
  max-width: 100%;
}
.milipage-connect,
.milipage-connect .col {
  background: #EAEEF6;
  }
.main-secnect {
  width: none;
  clear: both;
  padding: 0;
  margin: 0;
}
.col {
  display: block;
  float:left;
  margin: 0% 0% 0% 0%;
}
.col:first-child { margin-left: 0;}
.span_steps_1 {
  width: 50.1%;
  box-sizing: border-box;
}
.span_steps_2 {
  width: 49.9%;
  box-sizing: border-box;
}
.span_steps_3 {
  width: 100%;
  box-sizing: border-box;
}
/* Form Komentar */
#formcomentar{
  border: 2px solid #000000;
  width: 100%;
  padding:10px;
  border-radius: 5px;
  box-sizing: border-box;
}
#formcomentar input:focus, textarea:focus{
    border:2px solid #5E4F4F;
}
#formcomentar input{
    width: 80%;
}
#formcomentar textarea{
    width: 90%;
}
#formcomentar input,
#formcomentar textarea{
     padding: 10px;
     border:2px solid #000000;
     border-radius: 5px;
     margin-bottom: 15px; 
}
#formcomentar input[type="submit"]{
     cursor: pointer;
     background: -webkit-linear-gradient(top, #efefef, #ddd);
     background: -moz-linear-gradient(top, #efefef, #ddd);
     background: -ms-linear-gradient(top, #efefef, #ddd);
     background: -o-linear-gradient(top, #efefef, #ddd);
     background: linear-gradient(top, #efefef, #ddd);
     color: #333;
     text-shadow: 0px 1px 1px rgba(255,255,255,1);
     border: 1px solid #ccc;
}
 
#formcomentar input[type="submit"]:hover {
     background: -webkit-linear-gradient(top, #eee, #ccc);
     background: -moz-linear-gradient(top, #eee, #ccc);
     background: -ms-linear-gradient(top, #eee, #ccc);
     background: -o-linear-gradient(top, #eee, #ccc);
     background: linear-gradient(top, #eee, #ccc);
     border: 1px solid #bbb;
}
.container-opcoes {
width: none;
margin: 5px;
color: #111;
font-size: 16px;
}
.container-cadastro {
width: 90%;
max-width: 900px;
height: 0;
border-radius: 5px;
margin-left: -5%;
color: #111;
background-color: #767EEF;
flex-direction: column;
align-items: center;
transition: all 1s ease-in-out;
overflow: hidden;
opacity: 0;
display: inline-flex;
position: relative;
}
.container-cadastro.ativo {
height: 1100px;
margin-left: 5%;
opacity: 1;
margin-top: 5px;
margin-bottom: 20px;
padding: 0 0 5px;
transition: all 1s ease-in-out;
}
.container-cadastro button {
margin-top: 40px;
padding: 5px 10px;
background-color: #4E4DED;
border: 0;
border-radius: 5px;
color: white;
font-size: 1rem;
font-weight: 500;
box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.05);
animation: shadow-pulse 1s infinite;
cursor:pointer;
}
.container-cadastro-campo {
  padding: 0;
  margin: 0;
  }
.mostra-container-cadastro {
width: 100%;
margin-left: 0px;
max-width: 100%;
position: relative;
overflow: hidden;
transition: color 200ms ease-in-out;
}
.mostra-container-cadastro:hover {
background: #767EEF;
color: #fff;
}
.main-comentar-btn {
  margin-top:30px;
  padding: 5px 10px;
  background-color: #4E4DED;
  border: 1px #fff solid;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.05);
  cursor:pointer;
}
.container-opcoes .olttext {
  font-size: 12px;
}
.main-backtop-btn {
  margin-top:20px;
  padding: 5px 10px;
  background-color: #4E4DED;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.05);
  animation: shadow-pulse 1s infinite;
  cursor:pointer;
}
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
     }
}
.main-comentar-btn:focus,
.main-backtop-btn:focus {
  outline:none;
}
.odc-wrapper {
  margin: 5px;
  width: none;
  display: block;
}
.odc-header-line {
  width: none;
  margin-top:30px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0px
}
.odc-header-details {
  color:white;
  font-weight: bold;
  margin-bottom: 20px;
}
.shipping-address {
   margin-top: 20px;
  background-color: #828AF1;
  border-radius: 5px;
  padding: 10px 10px;
    color:white;
  font-weight: bold;
  margin-bottom: 0px;
 
}
.pro-deskrip-container {
  background-color: #828AF1;
  border-radius: 5px;
  padding: 10px;
}
.pro-main-sasbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pro-main-sasbar span {
  display: block;
  color: white;
  margin-left: 25px;
  margin-bottom: 8px;
  flex-grow: 1;
}
.pro-main-sasbar span:first-child {
  font-weight: 300;
  font-size: 0.8rem;
}
.pro-main-sasbar span:last-child {
  font-weight: 500;
  font-size: 1.3rem;
}
.pro-photo{
  
  }
.img-photo {
  width: 60px;
  height: 60px;
  margin: 3px;
  background: #ffffff;
  border-radius: 5px;
  transform: rotate(-35deg)
}
.pro-list-desc {
  color:white;
  font-weight: bold;
  margin-bottom: 20px;
}
.shipping-desc {
  color:white;
  font-weight: bold;
  margin-bottom: 20px;
  }
.cancellation {
  margin-top: 20px;
  background-color: #828AF1;
  border-radius: 5px;
  padding: 20px 10px;
    color:white;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.milipage {
  margin-top: 0px;
  border-bottom: 0px #ff0000 solid;
  border-top: 0px #000 solid;
}
.updated {
 width: 10%;
 height: 130px;
 left: 110px;
 margin-top: 0px;
 margin-left: 0px;
 margin-right: 0px;
 position: relative;
}
.updated .Timeline {
  display: flex;
  min-height: 300px;
  align-items: center;
}
.updated .event{
  position: absolute;
}
.updated .event2Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
  width: 139px;
  height: 60px;
  left: -105px;
  top: 35px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64)
}
.updated .event2Bubble:after,
.updated .event2Bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}
.updated .event2Bubble:before {
  bottom: 60px;
  left: 5px;
  border-top-color: rgba(36, 49, 224, 0.27);
  border-width: 12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.updated .event2Bubble:after {
  bottom: 58px;
  left: 5px;
  border-top-color: #767eeb;
  border-width: 12px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.updated .eventTime {
  display: flex;
}
.updated .DayDigit {
  font-size: 27px;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10px;
  color: #4C4A4A;
}
.updated .Day {
  font-size: 11px;
  margin-left: 5px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4C4A4A;
}
.updated .MonthYear {
  font-weight: 600;
  line-height: 10px;
  color: #9E9E9E;
  font-size: 9px;
}
.updated .eventforTime {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #9E9E9E;
  font-size: 9px;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 12px;
  margin-top: -2px;
}
.updated .eventforTime .yesupdated {
  color: #A71930;
  margin-right: 5px;
  font-size: 10px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.updated .event1Author {
  top: 20px;
  left: -50px;
  width: 100px;
  color: #111111;
  font-size: 8px;
  font-weight: bold;
  position: absolute;
}
.event1Author .ttd-bio {
  font-family: 'Neonderthaw', cursive;
  }
.event1Author .ttd-bio{
  font-size: 8px;
  color: #ff0052;
  color: #8e2b88;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear,left top,left bottom,from(#ff0052),to(#8e2b88));
 background: -o-gradient(linear,left top,left bottom,from(#ff0052),to(#8e2b88));
 -webkit-background-clip: text;
}
.event1Author .ttd-bio:before { 
 content: '';
}
.updated .event2Author {
  top: 97px;
  left: -85px;
  width: 120px;
  color: #4E4DED;
  font-size: 8px;
  font-weight: bold;
  position: absolute;
}
.eventforTime span {
  margin-left: 5px;
  margin-right: 5px;
}
.updated .forTitle{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: none;
  left: -92px;
  min-width: 80px;
  color: #a71930;
  font-size: 10px;
  margin-top: 5px;
  text-transform: uppercase;
}
.updated .time-life .top-updated {
position: absolute;
left: 5px;
top: 50px;
background: #ff0101;
color: #fff;
height: 10px;
width: 10px;
line-height: 60px;
text-align: center;
font-size: 35px;
z-index: 9;
padding: 0;
border-radius: 50%;
display: inline-block;
}
.updated .time-life:hover .top-updated {background: #7952b3;}
.top-updated::before {
content: "";
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
background: #ff0101;
border-radius: 50%;
animation: animation-button 1.5s infinite;
}
@keyframes animation-button{
0%,30%{
transform: scale(0);
opacity: 1;
}
50%{
transform: scale(1.6);
opacity: .5;
}
100%{
transform: scale(2);
opacity: 0;
    }
}
.deskinfopage {border:1px solid #2575FC; display:none; flex-direction:column; top: 0; left: 0; right: 0; justify-content:center; margin:auto;margin-top: 5%; height:80%; width: 90%; position:fixed; z-index: 200; bottom:0; top:0;left:0; background:#fff; border-radius:5px;}
.tupclosepage {
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
  border: 2px #111 solid;
  margin-top: 5px;
  margin-right: 5px;
  color: #111;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  float: right;
  top: -15px;
  right: -15px;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
/* CSS HEADRUP */
.desk-up-troll {
  top: 0;
  padding: 10px;
  font-size: 20px;
  width: none;
  height: 40px;
  color: #fff;
  display: block;
  background: #767eeb;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  }
.closeMenu {
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
  border: 1px #CEECEE solid;
  margin-top: 0px;
  margin-right: 5px;
  color: #111;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  float: right;
  top: 5px;
  right: 5px;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
.menu-sec {
  top:0;
  right:0;
  bottom:0;
  height:100%;
  z-index:200;
  width:300px;
  display:none;
  position:fixed;
  background:#fff;
  flex-direction:column;
  border-left:1px solid #2575FC;
}
.menu-sec .warkitrole {
  padding: 0; 
  overflow: auto; 
  width: none; 
  height: 100%;
}
.menu-sec h4 {
  color: #111;
  font-size: 20px;
  font-weight: bold;
  line-height: .70em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.ul-s {
  display:flex;
  margin-right:10px;
  flex-direction:column;
  border-right: 4px solid #767EEB;
}
.ul-s a{
  color:#111;
  padding:4px;
  font-size:14px;
  text-decoration:none;
  text-transform:uppercase;
}
