/*==================================
  CSS TOMBOL 
==================================*/
.button {
display: flex;
}
.button a{
color: #fff;
  }
.button .btn {
padding: 5px 20px;
  }
.button .btn-df{
background: #4E4DED;
border: none;
border-radius: 5px;
color: white;
position: relative;
z-index: 1;
}
.button .btn-df::after{
content: "";
height: 0;
width: 0;
position: absolute;
bottom: 0;
left: 0;
background: #000;
border-radius: 5px;
transition: .5s;
z-index: -1;
}
.button .btn-df:hover::after{
height: 100%;
width: 100%;
}
.button .btn-df:hover{
color: white!important;
background: #ff00ff;
}
/*====================================
   CSS RADIO BOX INPUT CENTER 
===================================*/
.childow {
  width: 7rem;
  height: 7rem;
  margin: 10px 10px 10px 10px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #767EEB;
  flex: 0 0 auto;
}
.childow:hover {
transform: scale(1.2);
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.childow {
  scroll-snap-align: center;
  transition: .5s;
  &:not(:last-child) {
    margin-right: 20px;
  }
  }
  &:not (.active) {
  transform: scale(0.95);
    background: #eee;
  }
}
.container-frasbox {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: none;
}
.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*=========================================
    CSS 2 BAGIAN FOOTER
==========================================*/

.quicktoggler.theme{text-align:left;}
.quicktoggler .text{
color:#5e5e5e;
text-transform: uppercase;
font-size:.7rem;
font-weight:600;
padding:5px 0; }
.switch {
position:relative;
display:inline-block;
width:38px;
height:10px;
margin:0 5px;
vertical-align:-2px;
}
.nop{background:#111;}
.a{
  margin-bottom: 0px;
  }
.switch input {
display:none;
background: #111;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
 }
.slider:before {position:absolute;content:"";height:24px;width:24px;left:0;bottom:-7px;background-color:#fff;-webkit-transition:.4s;transition:.4s;background: #111;
   }


input:checked + .slider {
background-color: #2196F3;
}
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
background: #111;
}
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
   }
.slider.round {
    border-radius: 34px;
   }

   .slider.round:before {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 8px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
   }
.dark .slider:before {position:absolute;content:"";height:24px;width:24px;left:0;bottom:-7px;background-color:#fff;-webkit-transition:.4s;transition:.4s;background:url("data:image/svg+xml,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M12,18C11.11,18 10.26,17.8 9.5,17.45C11.56,16.5 13,14.42 13,12C13,9.58 11.56,7.5 9.5,6.55C10.26,6.2 11.11,6 12,6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31L23.31,12L20,8.69Z' fill='%23314450'></path></svg>") no-repeat center center
}
.dark .slider.round:before {
background-color: #fff;
box-shadow: 1px 1px 8px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.dark-mode {
background: #000000;
color: #fff;
  }

/* Appearance */
.linkst {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 1em;
	font-weight: 300;
  width: 100%;
}
.linkst > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.linkst > a:hover {
	background: #ffffff06;
	color: #adf;
}
.linkst > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}
/* The Magic */
#headerfull {
	position: relative;
	left: 0;
	right: 0;
}
.linkst {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.linkst > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.linkst > a:hover ~ .line {
	opacity: 1;
}
.linkst > a:nth-of-type(1):hover ~ .line { --index: 1; }
.linkst > a:nth-of-type(2):hover ~ .line { --index: 2; }
.linkst > a:nth-of-type(3):hover ~ .line { --index: 3; }
.linkst > a:nth-of-type(4):hover ~ .line { --index: 4; }
.linkst > a:nth-of-type(5):hover ~ .line { --index: 5; }
.linkst > a:nth-of-type(6):hover ~ .line { --index: 6; }
.linkst > a:nth-of-type(7):hover ~ .line { --index: 7; }
.linkst > a:nth-of-type(8):hover ~ .line { --index: 8; }
.linkst > a:nth-of-type(9):hover ~ .line { --index: 9; }
.linkst > a:nth-of-type(10):hover ~ .line { --index: 10; }
.linkst > a:last-of-type:hover ~ .line { --index: var(--items); }
/* =================================
CSS SECTION FRASA FOOTER
================================== */
.footer {
background: url(https://dl.dropboxusercontent.com/s/1pplugbe77tg5hg/dice-25637.svg) no-repeat top center ;
background-size: cover;
background-attachment: fixed;
height: 300px;
}
.ring-footer {
margin: 0;
padding: 0;
padding-top: 10px;
background-color: #082656;
background-image: radial-gradient(rgba(255,255,255,.1) 1px,transparent 0),radial-gradient(rgba(255,255,255,.1) 1px,transparent 0); background-size: 40px 40px; background-position: 0 0,20px 20px;
}
.base-footer {
margin: 10px;
border-radius: 5px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.kaki-footer {
position: relative;
height: 50px;
display: block;
}
/* === NEW FOOTER | 00001 |===*/
#newfooter {
background: #4E4DED;
border-radius: 5px;
font-family: 'Source Sans Pro', sans-serif;
animation: gradient 15s ease infinite;
color: #fff;
margin: 0;
}
#newfooter .bottom-name {
position: relative;
text-align: center;
font-size: 2em;
text-transform: uppercase;
padding: 6px 0;
}
#newfooter .bottom-page {
position: relative;
text-align: center;
font-size: 12px;
text-transform: uppercase;
padding: 3px 0;
}
#newfooter .bottom-list {
position: relative;
text-align: center;
font-size: 12px;
text-transform: uppercase;
padding: 15px 0;
}
/* === FOOTER SOSIAL | 00002 |===*/
#FooterSosial {width:100%; height:auto; border-radius:5px 5px 0px 0px; display: block; margin:auto; line-height:40px; padding:0px}
#FooterSosial .sosial__ {padding:15px 0px; line-height:0px; border-top:0px solid #cccfe2;}
#FooterSosial .sosial {width:100%; text-align:center;} 
#FooterSosial .sosial svg {width:20px;height:20px;margin-top:7px} 
#FooterSosial .sosial svg path {fill:#fff} 
#FooterSosial .sosial a {display:inline-block; margin:4px 4px 4px 4px; width:35px; height:35px; box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.4); transition: all ease-in-out 300ms; border-radius:100px;} 
#FooterSosial .sosial a:last-child {margin-right:0px;} 
#FooterSosial .sosial a:hover {box-shadow: 0px 23px 15px -3px rgba(0,0,0,0.25); transform: translate(0px, -10px) scale(1.05);} 
#FooterSosial .sosial .facebook{background:#3a579a} 
#FooterSosial .sosial .twitter {background:#00abf0} 
#FooterSosial .sosial .linkedin {background:#df4a32} 
#FooterSosial .sosial .youtube {background:#cc181e}
#FooterSosial .sosial .instagram {background:#992ebc} 
#FooterSosial .sosial .github {background:#4caf50}
#FooterSosial .sosial .tiktok {background:#000080}
#FooterSosial .sosial .local-guide {background:#ff0101}
#FooterSosial .sosial .pinterest {background:#ff0101}
#FooterSosial .sosial .behance
{background:#00baff}
#FooterSosial .sosial .codepen-io {background:#00baff}
/* === FOOTER LINKS | 00003 |===*/
.links {
  background: #767EEB;
  color: #616161;
  font-size: 12px;
  padding: 0px 0;
}
.links ul h3 {
color: #fff;
}
.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}
/*=== FOOTER FOOTBOX | 00004 |===*/
.footbox {
  background: #767EEB;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}
.footbox-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footbox div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footbox div i {
  margin-right: 10px;
}

.footbox ul {
  display: flex;
  flex-wrap: wrap;
}

.footbox ul li a{
  margin-right: 30px;
  margin-bottom: 20px;
}
/* === FOOTER | MEDIA |===*/
@media(max-width: 700px) {
.links-inner {
grid-template-columns: repeat(2, 1fr);
   }
 }
@media(max-width: 500px) {
.links-inner {
    grid-template-columns: 1fr;
  }
  .links .links-inner ul {
    margin-bottom: 20px;
  }
}
