.nave {
  right: 15px;
  z-index: 95;
  width: 45px;
  bottom: 55px;
  height: 45px;
  display: block;
  position: fixed;
  line-height: 45px;
  border-radius: 50%;
  border: 0px #111 solid;
}
.nave a {
color: #ffffff;
background: #00baff;
  }
.nave a:hover {
color: #ffffff;
background: #4E4DED;
  }
.nave a i:hover {
color: #767EEB;
  }
.mask {
  z-index: 21;
  color: #fff;
  width: 45px;
  height: 45px;
  width: inherit;
  height: inherit;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background: #767EEB;
  padding: 0px 0px 0px 0px;
  transition: all .1s ease-in-out 0s
}

.nave.active .mask {
  background: #4E4DED;
  transform: rotate(-135deg)
}

.nave:after {
  top: 0;
  left: 0;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  transition: all .1s ease-in-out 0s
}

.nave.active:after {
  top: -135px;
  left: -135px;
  width: 350px;
  height: 350px
}

.nav-item-low {
  top: 0;
  left: 0;
  z-index: 19;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  transform: none;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  transition: all .3s cubic-bezier(.68, 1.55, .265, 1)
}

.nave.active .nav-count-1 {
  transform: translate(10px, -110px)
}

.nave.active .nav-count-2 {
  transform: translate(-45px, -90px)
}

.nave.active .nav-count-3 {
  transform: translate(-90px, -45px)
}

.nave.active .nav-count-4 {
  transform: translate(-110px, 10px)
}
