.centered-bottom .container .post .post-title {
  padding-top: 5px;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 5px;
}
.listron {
  left: 0;
  width: 30%;
  height: 10px;
  color: #ff0000;
  padding: 0px;
  font-size: 10px;
  margin-top: -20px;
  margin-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FF0000;
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  }
.padding-main {
  padding: 0em;
  padding-top: 1em;
  }
@media only screen and (max-width: 30em){
.centered-bottom {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container .post{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container .post .post-title {
  padding-left: 0.50em;
  padding-right: 0.50em;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  }
.padding-main {
  padding: 1em;
  }
}
.list-info {
  left: 0;
  width: none;
  height: none;
  color: #fff;
  padding: 0px;
  font-size: 10px;
  margin-top: -30px;
  margin-left: 0px;
  margin-left: 0;
  border-radius: 0px;
  background-color: #FFF;
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
  }
.list-info-page {
  width: none;
  height: none;
  color: #FFFFFF;
  font-size: 10px;
  margin-top: -30px;
  margin-left: 0px;
  position: absolute;
  letter-spacing: 2px;
  text-transform: uppercase;
  }
.list-info-page {
  left: 0;
  margin-left: 0;
  border-radius: 0px;
  background-color: #4E4DED;
  padding: 5px;
  position: relative;
}
.list-info-page a {
  color: #FFFFFF;
  }
.list-info-post {
  width: none;
  height: none;
  color: #CEECEE;
  font-size: 10px;
  margin-top: -30px;
  margin-left: 0px;
  position: absolute;
  letter-spacing: 2px;
  text-transform: uppercase;
  }
.list-info-post {
  left: 0;
  margin-left: 0;
  border-radius: 0px;
  background-color: #4E4DED;
  padding: 5px;
  position: relative;
}
.list-info-post a {
  color: #FFFFFF;
}

.main-left {
font-weight: bold;
opacity: 0;
animation: 1s anim-lightspeed-in ease forwards;
}
.main-left {
animation-delay: 2.3s;
}
.main-left {
animation-delay: 3.5s;
}
@keyframes anim-lightspeed-in {
0% {
transform: translateX(-200%);
opacity: 1;
}
100% {
transform: translateX(0);
opacity: 1;
  }
}
