.container .post .post-title {font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;}
.container .post .post-title {
  color: #020385;
  font-weight: 600;
  font-size: 3.50em;
  padding-top: 5px;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 5px;
  margin-bottom: 0px;
  line-height: 1.10em;
  animation: slide-in .7s .5s ease both;
}
.start {animation: slide-in .7s .5s ease both;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 60em) {
.container .post .post-title {
  font-size: 2.50em;
  }
.centered-bottom {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container .post{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container .post .post-title {
  padding-left: 0.30em;
  padding-right: 0.30em;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  }
}
@media only screen and (max-width: 30em) {
.container .post .post-title {
  font-size: 1.50em;
  }
}
.container .post {background: #eaeef6;}

.bg-df {
  padding: 0em;
  padding-top: 1em;
  }
@media only screen and (max-width: 30em){
.centered-bottom {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container .post{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  }
.centered-bottom .container .post .post-title {
  padding-left: 0.30em;
  padding-right: 0.30em;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  }

.bg-df {
  padding: 1em;
  }
}
