html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
}
/* Head Frasa Block
-------------------------------------*/
.bunga {
  width: 350px;
  height: 350px;
  margin-top: -90px;
  left: -100px;
  bottom: 0;
  position: relative;
}
.frasa {
  width: 100%;
  padding: 10px 5%;
  display: block;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
  }
.my_flex {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.name_flex {
  color: #100836;
  font-size: 1.50em;
  font-weight: 500;
  font-family: 'Saurce Sans Pro',sans-serif;
}
.link_flex {
  font-size: 1.00em;
  font-weight: 500;
  height: fit-content;
  align-self: flex-end;
}
.link_flex a {
  color: dimgray;
  text-decoration: none;
  font-family: 'Saurce Sans Pro',sans-serif;
}

/* Animasi text-focus-in
-------------------------------------*/
.name_flex, .link_flex {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; 	      
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
 0% {
  -webkit-filter: blur(12px);
  filter: blur(12px); opacity: 0;
  }
100% { 
  -webkit-filter: blur(0px); 
  filter: blur(0px); 
  opacity: 1; 
  } 
} 
@keyframes text-focus-in {
 0% { 
  -webkit-filter: blur(12px);
  filter: blur(12px);
  opacity: 0;
  }
100% { -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1; 
  }
}

/* Animasi Typing Title
-------------------------------------*/
.scroll {
  animation: slide-in .7s .5s ease both;
}

@keyframes slide-in { 
from { 
  opacity: 0;
  transform: translateY(2rem); 
  }
to { 
  opacity: 1;
  transform: translateY(0); 
  }
}


/* Animasi Typing Title
-------------------------------------*/

.container {
  min-height: 100%;
  position: relative;
}
.the-root {
  position: relative;
  margin: 5% auto;
  padding: 0 35% 0 15%;
  font-family: 'Saurce Sans Pro',sans-serif;
  }
.the-root h2 {
  color: dimgray;
  font-size: 24px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}
.the-root p {
  color: dimgray;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
  line-height: 1.5em;
  font-family: 'Saurce Sans Pro',sans-serif;
}
.the-root p a {
  color #100836;
  text-decoration: none;
}
footer.show {
position: relative;
}
footer.footer {
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #cecece;
  position: absolute;
  box-sizing: border-box;
}
@media (max-width: 900px) {
.frasa {
  padding: 10px 10%;
  }
.the-root {
  margin: 5% auto;
  padding: 0 10%;
  }
.the-root h2 {
  font-size: 27px;
  }
.the-root p {
  font-size: 17px;
  }
 }

/* Animasi box page
-------------------------------------*/
.animasi {
  gap: 16px;
  width: none;
  height: none;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: left;
}
.box {
  width: 60px;
  height: 60px;
  display: flex;
  background: var(--bg);
  border-radius: 5px;
  will-change: transform;
  align-items: center;
  justify-content: center;
}
.box span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.box {
  animation: bounce var(--animation-duration) infinite alternate cubic-bezier(.2, .65, .6, 1);
}
.box.one {
  --bg: slateblue;
  --bounce-height: -20px;
  --animation-duration: 200ms;
}
.box.two {
  --bg: deeppink;
  --bounce-height: -30px;
  --animation-duration: 300ms;
}
.box.three {
  --bg: dodgerblue;
  --bounce-height: -40px;
  --animation-duration: 400ms;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(var(--bounce-height));
  }
}

#nocopy {
 user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 -khtml-user-select:none;
 -webkit-user-select:none;
}
