* {
  margin: 0;
  padding: 0;
  cursor: none;
}
@media (min-width: 900px) {
body {background: #fff;}
.icon-footer,
.container {display: none;}
}
body {
  height: 100%;
  font-family: 'Saurce Sans Pro',sans-serif;
}
@media (max-width: 900px) {
body {
    position: absolute;
    height: 100%;
    background: url("/img/file/background-image.jpg")
    no-repeat center center fixed;
    background-size: cover;
  }
}
/* Head Frasa Block
-------------------------------------*/
.container {
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: fixed;
  & #content {
  height: 100%;
  max-height: calc(100% - 90px);
  overflow: auto;
  display: block;
  position: relative;
 }
}


/* =============================================
* RADIO BUTTONS
=============================================== */

#radios label {
	cursor: pointer;
	position: relative;
  margin: 0px;
	width: 100%;
	height: 50px;
}

#radios label {
	
}

input[type="radio"] {
	opacity: 0; 
	/* hidden but still tabable */
	position: absolute;
}
input[id="home"] ~ header #radios span.lab1,
input[id="about"] ~ header #radios span.lab2,
input[id="skills"] ~ header #radios span.lab3,
input[id="portfolio"] ~ header #radios span.lab4,
input[id="contact"] ~ header #radios span.lab5
{
	font-family: 'Material Icons';
	fill: #B3CEFB;
	border-radius: 0%;
	margin: 0;
	
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
input[id="home"]:checked ~ header #radios span.lab1,
input[id="about"]:checked ~ header #radios span.lab2,
input[id="skills"]:checked ~ header #radios span.lab3,
input[id="portfolio"]:checked ~ header #radios span.lab4,
input[id="contact"]:checked ~ header #radios span.lab5 {
	fill: #D9E7FD;
filter: drop-shadow(0 0 10px (#000)), (0 0 20px (#adf)),( 0 0 10px (#adf)),( 0 0 30px (#fff)),( 0 0 60px (#adf));
-webkit-filter: drop-shadow(0 0 10px (#000), 0 0 20px (#adf), 0 0 10px (#adf), 0 0 30px (#fff), 0 0 60px (#adf));
  /*background-color: #4285F4;*/
}

input[id="home"]:focus ~ header #radios span.lab1,
input[id="about"]:focus ~ header #radios span.lab2,
input[id="skills"]:focus ~ header #radios span.lab3,
input[id="portfolio"]:focus ~ header #radios span.lab4,
input[id="contact"]:focus ~ header #radios span.lab5 {
	color: #fff;
}

/* ================ TOOLTIPS ================= */

#radios label:hover::before {
	content: attr(for);
	font-family: Roboto, -apple-system, sans-serif;
	text-transform: capitalize;
	font-size: 11px;
    width: auto;
	position: absolute;
	top: 120%;
	left: 0;
	right: 0;
	opacity: 0.75;
	background-color: #323232;
	color: #fff;	
	padding: 4px;
	border-radius: 3px;
        display: block;
	margin-left: 2px;
	margin-right: 2px;
}

/* =============================================
* CENTERING, CONTAINER STYLING ETC || IGNORE
=============================================== */

h1.cuma {
	font-weight: 300;
	color: #D9E7FD;
	text-align: center;
	margin-bottom: 50px;
}

#radios {
  z-index: 8;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
	text-align: center;
	margin: 0 auto;
background-color: #123;
  background-image: linear-gradient(to bottom, #0003, transparent);
  position: relative;
}

.container {
	margin: 0 auto;
	& > input {display: none;}
}
#radios label {
  
  /*background: pink;*/
}
#radios label span {
  width: 100%;
  height: 50px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    width: 30px;
    height: 30px;
     }
  }
  }
.container {
font-family: Roboto, -apple-system, sans-serif;
}

input[id="contact"] ~ #content section.section_contact,
input[id="portfolio"] ~ #content section.section_portfolio,
input[id="skills"] ~ #content section.section_skills,
input[id="about"] ~ #content section.section_about  {
  display: none;
}
input[id="contact"]:checked ~ #content section.section_home,
input[id="portfolio"]:checked ~ #content section.section_home,
input[id="skills"]:checked ~ #content section.section_home,
input[id="about"]:checked ~ #content section.section_home {
  display: none;
}
  
input[id="contact"]:checked ~ #content section.section_contact,
input[id="portfolio"]:checked ~ #content section.section_portfolio,
input[id="skills"]:checked ~ #content section.section_skills,
input[id="about"]:checked ~ #content section.section_about,
input[id="dash-home"]:checked ~ #content section.section_home  {
  display: block;
}
input[id="home"]:checked ~ header #radios label span.lab1 svg,
input[id="about"]:checked ~ header #radios label span.lab2 svg,
input[id="skills"]:checked ~ header #radios label span.lab3 svg,
input[id="portfolio"]:checked ~ header #radios label span.lab4 svg,
input[id="contact"]:checked ~ header #radios label span.lab5 svg {transform: scale(1.1, 1.1);}

input[id="home"] ~ svg defs symbol .color-icn,
input[id="about"] ~ svg defs symbol .color-icn,
input[id="skills"] ~ svg defs symbol .color-icn,
input[id="portfolio"] ~ svg defs symbol .color-icn,
input[id="contact"] ~ svg defs symbol .color-icn {
fill:#FFFFFF;}
input[id="home"]:checked ~ svg defs symbol .color-icn,
input[id="about"]:checked ~ svg defs symbol .color-icn,
input[id="skills"]:checked ~ svg defs symbol .color-icn,
input[id="portfolio"]:checked ~ svg defs symbol .color-icn,
input[id="contact"]:checked ~ svg defs symbol .color-icn {
fill:#D9E7FD;}
svg defs symbol .color-icn {fill:#FFFFFF;}

.section_home {
  display: block;}

.icon-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
  opacity: 0.9;
  background: #123;
  position: fixed;
}
svg.hidden {
  height: 0;
}
/* Profile
-------------------------------------*/
.conic-bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.conic img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
 }

.conic {
  position: relative;
  z-index: 0;
  width: 200px;
  height: 200px;
  margin: 0px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
}
.conic::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  /*background-color: #1a232a;*/
  background-color: #67809F;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
  animation: rotate 4s linear infinite;
}
	
.conic::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #000;
  border-radius: 5px;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}



/* Animasi Typing Title
-------------------------------------*/
.scroll {
  animation: slide-in .7s .5s ease both;
}

@keyframes slide-in { 
from { 
  opacity: 0;
  transform: translateY(2rem); 
  }
to { 
  opacity: 1;
  transform: translateY(0); 
  }
}
.slide-bottom2 {
animation: slide-in-bottom2 1.0s .8s ease both;
}
@keyframes slide-in-bottom2 { 
from { 
  opacity: 0;
  transform: translateY(2rem); 
  }
to { 
  opacity: 1;
  transform: translateY(0); 
  }
}

.slide-bottom3 {
animation: slide-in-bottom3 1.5s 1.3s ease both;
}
@keyframes slide-in-bottom3 { 
from { 
  opacity: 0;
  transform: translateY(2rem); 
  }
to { 
  opacity: 1;
  transform: translateY(0); 
  }
}

.slide-bottom4 {
animation: slide-in-bottom4 1.10s 1.8s ease both;
}
@keyframes slide-in-bottom4 { 
from { 
  opacity: 0;
  transform: translateY(2rem); 
  }
to { 
  opacity: 1;
  transform: translateY(0); 
  }
}

.slide-top {
animation: slide-in-top 1.0s .8s ease both;
}
@keyframes slide-in-top { 
from { 
  opacity: 0;
  transform: translateY(-2rem); 
  }
to { 
  opacity: 1;
  transform: translateY(0); 
  }
}

/* Animasi Typing Title
-------------------------------------*/
#nocopy {
 user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 -khtml-user-select:none;
 -webkit-user-select:none;
}

#headerfull {
  left: 0;
  right: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #123;
  background-image: linear-gradient(to bottom, #0003, transparent);
  }
  
.linkst {
  background-color: #123;
  background-image: linear-gradient(to bottom, #0003, transparent);
  border-bottom: 1px solid #0003;
  box-shadow: 0 0 32px #0003;
  font-size: 1em;
  font-weight: 300;
  width: 100%;
  max-width: 900px;
}
.linkst > a{
  color: #9ab;
  padding: .75em;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
}
.linkst > a i:active {
	color: #adf;
        background: #ffffff06;
        text-shadow: 0 0 10px #000, 0 0 20px #adf, 0 0 10px #adf, 0 0 30px #fff, 0 0 60px #adf;
}
.linkst a[href^="#"] {
  color: #adf;
  background: #ffffff06;
}
.linkst a[href^="#"] i {
  text-shadow: 0 0 10px #000, 0 0 20px #adf, 0 0 10px #adf, 0 0 30px #fff, 0 0 60px #adf;
}
.linkst:active a[href^="#"] {
  color: #9ab;
  background: #123;
}
.linkst:active a:hover[href^="#"] {
  color: #adf;
  background: #ffffff06;
  }

/* The Magic */
.linkst {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
span.name-post {
  display: block;
}
@media (max-width: 500px) {
  span.name-post {
    display: none;
  }
}

.post {
  text-align: center;
  padding: 0;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  font-family: 'Saurce Sans Pro',sans-serif;
}
.post h1 {
  font-size: 2.30em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Saurce Sans Pro',sans-serif;
  text-shadow: 0px 0px 19px rgba(255,255,255,0.96);
  /*text-shadow: 0px 1px 11px rgba(169,255,252,0.81);*/
}
.post h1.heading-1 {
  font-size: 2.30em;
  font-weight: 700;
  color: #fff;
  margin-top: 35px;
  line-height: 1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Saurce Sans Pro',sans-serif;
  text-shadow: 0px 0px 19px rgba(255,255,255,0.96);
  /*text-shadow: 0px 1px 11px rgba(169,255,252,0.81);*/
}
.post p {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Saurce Sans Pro',sans-serif; 
  text-shadow: 0px 1px 11px rgba(169,255,252,0.81);
}
.post p.paragraph {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Saurce Sans Pro',sans-serif; 
  text-shadow: 0px 1px 11px rgba(169,255,252,0.81);
}
@media (max-width: 900px) {
.post {
  padding: 10px 15px;
 }
}
ul.sosial {
  list-style: none;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding:10px;
  box-sizing: border-box;
}

ul.sosial li{
  cursor: pointer;
  width:20px;
  height:20px;
}

ul.sosial li a svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}
/* My User withkoji
--------------------------------*/
.myuser {
  left: 0;
  bottom: 0;
  color: #fff;
  width: 200px;
  height: 40px;
  text-align: left;
  z-index: 10;
  padding: 10px 10px 10px 40px;
  box-sizing: border-box;
  background-color: #123;
  position: fixed;
}
.myuser:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  right: -28px;
  top: 0px;
  background-color: #123;
  transform: skewX(26deg);
}
.myuser a {
  color: #ffff;
  text-decoration: none;
}

@media (max-width: 900px) {
.rows {display: none;}
}
@media (min-width: 900px) {
.rows {
  margin-top: 0px;
 }
}
.rows .wave-container, .rows .wave-bottom {
  margin: 0 auto;
  max-width: 100%;
  background: #fff;
  }
.rows .wave-bottom {
  width: 100%;
  }
.rows .wave-bottom > svg {
  display: block;
 }
.rows .wave-container {
  z-index: 6;
  position: relative;
  }
.rows .wave-bottom {
  margin-top: -5px;
  }
.rows .wave-container, .rows .wave-bottom {
  position: relative;
  color: #FFF;
  text-align:  center;
  overflow: hidden;
  }
.rows .wave-container {
  background: #767EEB;
  }
.rows .wave-container .deskrip-text {
  padding: 10px;
  width: none;
  font-size: 17px;
  text-align: center;
  box-sizing: border-box;
  }
.rows .wave-container .deskrip-text p span {
  margin-bottom: 0px;
  line-height: 0.50em;
  font-size:23px;color:#fff;
  }
.deskrip-text h3.text-title-pc {
  top: 50px;
  font-size: 30px;
  position: relative;
}
.rows .wave-container .deskrip-text p {
  color: #fff;
  font-size: 17px;
  line-height: 1.5em;
  margin: 7rem 1.25rem 2.5rem 1.25rem; 
}
.rows .wave-container .deskrip-text p i {
  color: #fff;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  }

 
