body {
  margin: 0;
  padding: 0;
  background: #fff;
}
/* Head Frasa Block
-------------------------------------*/
.frasa {
  width: 100%;
  padding: 10px 5%;
  display: block;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
  }
.my_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name_flex {
  color: #00000086;
  font-size: 1.50em;
  font-weight: 500;
  font-family: 'Saurce Sans Pro',sans-serif;
}
.link_flex {
  color: #4e4ded;
  font-size: 1.00em;
  font-weight: 500;
  height: fit-content;
  align-self: flex-end;
}
.link_flex a {
  color: #cecece;
  text-decoration: none;
  font-family: 'Saurce Sans Pro',sans-serif;
}
/* Animasi Typing Title
-------------------------------------*/
.link_flex {
  width: 9ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


.the-root {
  margin: 5% auto;
  padding: 0 35% 0 15%;
  font-family: 'Saurce Sans Pro',sans-serif;
  }
.the-root p {
  opacity: 0.5;
  color: indigo;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
  line-height: 1.5em;
  font-family: 'Saurce Sans Pro',sans-serif;
}
@media (max-width: 900px) {
.frasa {
  padding: 10px 10%;
  }
.the-root {
  margin: 5% auto;
  padding: 0 10%;
  }
.the-root p {
  font-size: 17px;
  }
 }
