.wingcode {
display: block;
margin-top: 5px;
margin-bottom: 10px;
box-sizing: border-box;
}
.wingcode cakra {
display: block;
width: auto;
color: #111;
margin-left: 10px;
margin-top: 6px;
font-size: 19px;
position: absolute;
z-index: 10;
letter-spacing: 3px;
}
.language-view {
  height: none;
  overflow: auto ;   
  padding: 0; 
}
.language-view::-webkit-scrollbar {
width: 0;
 }
.language-view {
  width:  96%;
  padding: 5px;
  display: block;
  height: 250px;
  border-radius:  0px;
  color: #fff;
  margin-bottom: 15px;
}
.language-view {
   margin: 0px; 
   overflow: auto;
   margin-top: 0px;
   border-top: 0px #000 solid;
   border-left: 2px #000 solid;
   border-right: 2px #000 solid;
   border-bottom: 2px #000 solid;
   background-color: #ffffff;
   display: block;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 4px;
   width: 100%;
   height: none;
   min-height: 250px;
 }

