.wingcode {
display: block;
margin-top: 5px;
margin-bottom: 10px;
box-sizing: border-box;
}
.wingcode cakra {
display: block;
width: auto;
color: #111;
margin-left: 10px;
margin-top: 6px;
font-size: 19px;
position: absolute;
z-index: 10;
letter-spacing: 3px;
}
.code-header{text-align:right;background:#f8f8f8;border:2px solid #000;font-family:Helvetica,Arial,sans-serif;box-sizing:border-box}
  
.code-header a{font-size:15px;display:inline-block;cursor:pointer;border-left:2px solid #000;box-sizing:border-box;padding:6px 13px}
  
.code-header a:hover{background:#f3f3f3;transition:all 0.1s linear}
  
.msg-alert{position:fixed;top:65px;left:20px;background:#333;z-index:1000;color:#fff;font-family:Helvetica,Arial,sans-serif;font-size:15px;padding:8px 12px;border-radius:5px}
.language-view {
  height: none;
  overflow: auto ;   
  padding: 0; 
}
.language-view::-webkit-scrollbar {
width: 0;
 }
.language-view {
  width:  96%;
  padding: 5px;
  display: block;
  height: 250px;
  border-radius:  0px;
  color: #fff;
  margin-bottom: 15px;
}
.language-view {
   margin: 0px; 
   overflow: auto;
   margin-top: 0px;
   border-top: 0px #000 solid;
   border-left: 2px #000 solid;
   border-right: 2px #000 solid;
   border-bottom: 2px #000 solid;
   background-color: #ffffff;
   display: block;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 4px;
   width: 100%;
   height: none;
   min-height: 250px;
 }

