html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background: #eaeef6;*/
  background: linear-gradient(0.25turn, deeppink, #f69d3c);
  font-family: 'Saurce Sans Pro',sans-serif;
}
/* CSS Root 
----------------------------------*/
.root {
  width: 100%;
  display: flex;
  padding-top: 30px;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

/* CSS Container
----------------------------------*/
.container {
  margin-top: 50px;
  padding: 0;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  background: #ffffff;
}

/* Content Header
----------------------------------*/
header.header {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  background: linear-gradient(60deg, rgba(84,58,283,1) 0%, rgba(0,172,293,1) 100%);
}
header.header a {
  width: 30px;
  height: 20px;
  text-decoration: none;
}
header.header a svg {
  fill: #fff;
  width: 30px;
  height: 20px;
}
/*header.header {
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}*/
/*@keyframes gradient {
0% {
  background-position: 0% 50%;
  }
50% {
  background-position: 100% 50%;
  }
100% {
  background-position: 0% 50%;
  }
}*/

/* Nama Header
----------------------------------*/
.name_header {
  width: 250px;
  height: 46px;
  background: #34A9E0;
  position: relative;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 0 0 10px;
  box-sizing: border-box;
}
.name_header:before {
  content: '';
  display: block;
  height: 46px;
  width: 19px;
  background: #34A9E0;
  -webkit-transform: skewX(-19deg);
  position: absolute;
  right: -8px;
  top: 0;
}
/* Content Profile
----------------------------------*/
.profile {
 width: 100%;
 text-align: center;
}

/* Profile Bar
----------------------------------*/
.profile_bar {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

/* Profile Image
----------------------------------*/
.profile_img {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  border-radius: 50%;
  transition:.5s ease-out;
  border: 3px #cecece solid;
}
.profile_img:hover{
  transform: scale(110%);
  transition: transform .3s;
  /* down here you can change the color of the pfp shade */
  box-shadow: 0px 0px 60px black;
  height: 90px;
  width: 90px;
  filter: saturate(150%);
}

/* Profile Nama
----------------------------------*/
.name {
  color: #23304a;
  font-weight: 100;
  font-family: 'Nunito';
  font-size: 23px;
  letter-spacing: 0.8px;
}

/* Profile Minat
----------------------------------*/
.loca {
  color: #7083cc;
  margin-top: 5px;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.8px;
  font-family: 'Oswald';
}

/* Profile Deskripsi
----------------------------------*/
.deskripsi {
  padding: 0 10%;
  box-sizing: border-box;
}
.deskripsi p {
  color: #100836;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

/* Profile Sosial media
----------------------------------*/
ul.sosial {
  list-style: none;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding:10px;
  box-sizing: border-box;
}

ul.sosial li{
  cursor: pointer;
  width:20px;
  height:20px;
}

ul.sosial li a svg {
  fill: dimgray;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

/* Content Profile
----------------------------------*/
.main-menu {
  left: 0%;
  padding: 0px;
  display: flex;
  transition: bottom 0.3s;
}
.main-menu a {
  flex: 1 1 30%;
  padding: 5px;
  margin: 5px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
  }
.main-menu a svg {
  fill: dimgray;
  width: 20px;
  height: 20px;
 }

.main-menu a:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
  }
  
.main-menu a:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
  }

/* Profile Garis pemisah
----------------------------------*/
.line1 {
  top: 10px;
  width: 50px;
  margin: auto;
  position: relative;
  border: 1px solid #4A5C82;
}
.line2 {
  top: 5px;
  width: 300px;
  margin: auto;
  position: relative;
  border: 1px solid #4A5C82;
}

/* Content About
----------------------------------*/
.content {

}

.content p {
  color: #100836;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
  line-height: 1.5;
  font-family: 'Saurce Sans Pro',sans-serif;
}
.content p i.icon {
  color: dimgray;
  margin-right: 25px;
}
.content p a {
  text-decoration: none;
}

.content .full_line {
  top: 10px;
  width: 100%;
  margin: auto;
  position: relative;
  border: 1px solid #4A5C82;
}
/* Content Heading 1 of 6
----------------------------------*/
.content h3 {
  font-size: 23px;
  color: #191919;
  line-height: 1.20em;
  margin-bottom: -3px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.content h4 {
  font-size: 20px;
  color: #191919;
  line-height: 1.10em;
  font-family: 'Source Sans Pro', sans-serif;
}

.content h5 {
  font-size: 18px;
  color: #191919;
  line-height: 1.00em;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Content Button Profil Sosial
----------------------------------*/
.button_link a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  border: 1px solid #cecece;
  margin: 5px 5px 5px 5px;
  border-radius: 30px;
  padding: 5px 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  color: white;
  background-color: #111;
  display: inline-block;
  text-decoration: none;
}
.button_link a:hover{
  border: 1px solid #b1b1b1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Content List Icon
----------------------------------*/
ul.list_icon {
  list-style: none;
  padding: 0;
}

ul.list_icon li {
  color: #000;
  line-height: 2.4rem;
}

ul.list_icon li i {
  color: #767EEB;
  margin-right: 20px;
}

ul.nilai_nilai li {
  color: #100836;
  margin-top: 25px;
  line-height: 2.4rem;
}

/* Dasbor media responsive min-width
----------------------------------*/
@media (min-width: 700px) {
.container {
  box-shadow: 4px 4px 16px #e1e1e1;
  }
header.header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  }
footer.footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }
}

/* Dasbor media responsive max-width
----------------------------------*/
@media (max-width: 900px) {
.content p i.icon {
  margin-right: 10px;
  }
ul.nilai_nilai li {
  margin-top: 15px;
  line-height: 1.5;
  }
}

@media (max-width: 700px) {
body {
  background: #ffffff;
  }
.container {
  margin-top: 0px;
  border-radius: 0px;
  }
.root {
  padding: 0;
  padding-top: 0px;
  }
.content p {
  font-size: 16px;
  }

ul.list_icon li i {
  margin-right: 10px;
  }
}

/* Content Footer / Kaki
----------------------------------*/
footer.footer {
  padding: 0;
  width: 100%;
  height: none;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,0.2);
}


/* False bar overflow
----------------------------------*/
.false1 {
border: 1px solid rgba(36, 49, 224, 0.27); margin: 5px; 
overflow: auto; border-radius: 5px;
width: none; height: 200px; max-height: 100%;
background-color: rgb(255, 255, 255);
}

.false2 {
  width: 100%;
  min-height: 900px;
  background: #ffff;
  padding: 5px;
  box-sizing: border-box;
}

/*  Pricing Toggle Container
----------------------------------*/
.pricing-toggle-container {
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  background: #ffffff;
}
.toggle-container {
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.toggle-container label {
  color: dimgray;
}
.toggle-container .btn-primary {
  border-bottom: 2px #100836 solid;
}

.viewbar_content {
  height: 1000px;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
}
.pricing-container {
  padding: 0 10%;
  box-sizing: border-box;
}
 
.switch-toggle a {
  display: none;
}

@media only screen {
  /* Radio Switch */
  .switch-toggle {
    position: relative;
    display: block;
    padding: 0 !important;
  }
  .switch-toggle::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-toggle *,
  .switch-toggle *:before,
  .switch-toggle *:after {
    box-sizing: border-box;
    border-radius: 0px;
  }
  .switch-toggle a {
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .switch-toggle label,
  .switch-toggle > span {
    line-height: 2em;
    vertical-align: middle;
  }
  .switch-toggle input:focus ~ span a,
  .switch-toggle input:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    outline: none;
   }
  .switch-toggle input:checked + label {
    color: #100836;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  .switch-toggle input:focus ~ span a,
  .switch-toggle input:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline: none;
  }
}

@media only screen {
  .switch-toggle input {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  .switch-toggle input + label {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .switch-toggle a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(4),
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
    width: 50%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
    left: 50%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(6),
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
    width: 33.33%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
    left: 33.33%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
    left: 66.66%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(8),
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
    width: 25%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
    left: 25%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
    left: 50%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
    left: 75%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(10),
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
    width: 20%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
    left: 20%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
    left: 40%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
    left: 60%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
    left: 80%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12),
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
    width: 16.6%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
    left: 16.6%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
    left: 33.2%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
    left: 49.8%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
    left: 66.4%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
    left: 83%;
  }
  /* Bugfix for older Webkit, including mobile Webkit. Adapted from
 * https://css-tricks.com/webkit-sibling-bug/
 */
  @media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
    .switch-light,
    .switch-toggle {
      -webkit-animation: webkitSiblingBugfix infinite 1s;
    }
  }
  @-webkit-keyframes webkitSiblingBugfix {
    from {
      -webkit-transform: translate3d(0, 0, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }




/* Contacts Form
----------------------------------*/
.contactsform {
  border: 1px solid #4E4DED;
  width: 100%;
  padding:10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.contactsform input:focus, textarea:focus{
    border: 1px solid #767EEB;
}
.contactsform textarea{
    width: 90%;
}
.contactsform input,
.contactsform textarea{
  padding: 10px;
  border: 1px solid #4E4DED;
  border-radius: 5px;
  margin-bottom: 15px; 
  box-shadow:  inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}
.contactsform input:active,
.contactsform textarea:active {
border: 1px #767eeb solod;
}
.contactsform input:focus,
.contactsform textarea:focus {
  box-shadow:  inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.contactsform input[type="submit"]{
     cursor: pointer;
     background: -webkit-linear-gradient(top, #efefef, #ddd);
     background: -moz-linear-gradient(top, #efefef, #ddd);
     background: -ms-linear-gradient(top, #efefef, #ddd);
     background: -o-linear-gradient(top, #efefef, #ddd);
     background: linear-gradient(top, #efefef, #ddd);
     color: #333;
     text-shadow: 0px 1px 1px rgba(255,255,255,1);
     border: 1px solid #ccc;
}
.contactsform input[type="submit"]:hover {
     background: -webkit-linear-gradient(top, #eee, #ccc);
     background: -moz-linear-gradient(top, #eee, #ccc);
     background: -ms-linear-gradient(top, #eee, #ccc);
     background: -o-linear-gradient(top, #eee, #ccc);
     background: linear-gradient(top, #eee, #ccc);
     border: 1px solid #767EEB;
}


/* Menu Proyek 
----------------------------------*/
.wrapper{
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}
.col{
  margin: 10px;
  cursor: pointer;
  width: calc(50% - 2rem);
}
.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  }

.containerx{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	   -webkit-perspective: 1000px;
	           perspective: 1000px;
}
.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 300px;
  height: auto;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
}
.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}
.front:after{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 300px;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}
.containerx:hover .front,
.containerx:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.containerx .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}
.inner p {
  color:#fff;
}
.inner a.btn {
  width: 150px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.inner a.btn_bar {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.inner a.btn_bar:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.inner a.btn_bar:hover {
  color: #fff;
}
.inner a.btn_bar:hover:after {
  left: 0;
  width: 100%;
}
.inner a.btn_bar:active {
  top: 2px;
}
/*.inner a.btn {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  border-radius: 30px;
  background: #191919;
  text-decoration: none;
  border: 2px #fff solid;
  box-sizing: border-box;
}
.inner a.btn:hover {
  color: #eaeef6;
}*/
.containerx .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.containerx .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.containerx:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.containerx:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.front .inner p{
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.front .inner p:after{
  content: '';
  color: #fff;
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}
.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 500px){
  .col{
   width: 100%;
    margin: 0 0 2rem 0;
  }
}


.content_pressing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-bottom: 0px;
  max-width: 100%;
}
/*.post .post-body .container_projects img {
  border-radius: 0px;
}*/
.content_pressing .pressing i {
  color: #fff;
  opacity: 10;
  font-size: 20px;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;

}
.content_pressing .pressing img {
  width: 100%;
  height: 100%;

  border-radius: 0px;
}
.content_pressing .pressing {

  box-sizing: border-box;

  display: inline-block;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);*/
}
@media(max-width: 900px) {
.content_pressing {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 500px) {
.content_pressing {
    grid-template-columns: 1fr;
  }
}


/* Mein Menu 1 of 5
----------------------------------*/
div.backtop {
  width: 100%;
  height: 50px;
  padding: 15px;
  display: block;
  background: #111111;
  box-sizing: border-box;
}
div.backtop svg {
  fill: #fff;
  width: 30px;
  height: 20px;
}
.colbar {
  width: 100%;
  display: block;
  position: relative;
}
.openview {
  padding: 10px;
  box-sizing: border-box;
}
.main-menu-1,
.main-menu-2,
.main-menu-3,
.main-menu-4,
.main-menu-5 {
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.9;
  display: none;
  position: fixed;
  overflow-y: auto;
  max-height: 100%;
  background: #191919;
  transition: 2s cubic-bezier(0.33, 1, 0.53, 1);
}
