.conic-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.conic img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  }
.conic {
	position: relative;
	z-index: 0;
	width: 200px;
	height: 200px;
	margin: 0px;
	border-radius: 10px;
	overflow: hidden;
	padding: 5px;
        box-sizing: border-box;
}
.conic::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #1a232a;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
		animation: rotate 4s linear infinite;
}
	
.conic::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: #000;
		border-radius: 5px;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
