ul.sosial {
  list-style: none;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding:10px;
  box-sizing: border-box;
}

ul.sosial li{
  cursor: pointer;
  width:30px;
  height:30px;
}

ul.sosial li a svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}
