.portfolio {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}
.col{
  margin: 10px;
  cursor: pointer;
  width: calc(50% - 2rem);
}
.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  }

.portfolio-bar {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	   -webkit-perspective: 1000px;
	           perspective: 1000px;
}
.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 300px;
  height: auto;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
}
.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}
.front:after{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 300px;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}
.portfolio-bar:hover .front,
.portfolio-bar:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.portfolio-bar .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}
.inner p {
  color:#fff;
}
/*.inner a.btn {
  width: 150px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.inner a.btn_bar {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.inner a.btn_bar:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.inner a.btn_bar:hover {
  color: #fff;
}
.inner a.btn_bar:hover:after {
  left: 0;
  width: 100%;
}
.inner a.btn_bar:active {
  top: 2px;
}*/
.inner button.btn {
   display: inline-block;
    border-radius: 3px;
    background: #4caf50;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  /*color: #fff;
  margin-top: 15px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  background: #191919;
  text-decoration: none;
  border: 2px #fff solid;
  box-sizing: border-box;*/
}
.inner button.btn:hover {
  color: #eaeef6;
}
.portfolio-bar .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.portfolio-bar .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.portfolio-bar:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.portfolio-bar:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.front .inner p{
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.front .inner p:after{
  content: '';
  color: #fff;
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}
.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 500px){
  .col{
   width: 100%;
    margin: 0 0 2rem 0;
  }
}


/* Mein Menu 1 of 5
----------------------------------*/
div.backtop {
  width: 100%;
  height: 50px;
  padding: 15px;
  display: block;
  background: #111111;
  box-sizing: border-box;
}
div.backtop svg {
  fill: #fff;
  width: 30px;
  height: 20px;
}
.colbar {
  width: 100%;
  display: block;
  position: relative;
}
.openview {
  padding: 10px;
  box-sizing: border-box;
}
.main-menu-1,
.main-menu-2,
.main-menu-3,
.main-menu-4,
.main-menu-5 {
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  position: fixed;
  max-height: 100%;
  background: #191919;
  overflow: hidden;
  opacity: 0.9;
}

/* Carousel Image dan Vidio Iframe
----------------------------------*/
#responsive-sizing {
  text-align: left;
}
#responsive-sizing .spec {
  display: inline-block;
  margin: 10px 10px 10px 0;
}
#responsive-sizing .breakpoint {
  background-color: #333;
  color: white;
  border-radius: 5px 0 0 5px;
}
#responsive-sizing .name-lang-code {
  border-radius: 0 5px 5px 0;
  background-color: #ddd;
}
#responsive-sizing .breakpoint,
#responsive-sizing .name-lang-code {
  padding: 5px 10px;
  font-family: 'Quicksand' , sans-serif;
}


