* {
  margin: 0;
  padding: 0;
}
#headerfull {
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.linkst {
  background-color: #123;
  background-image: linear-gradient(to bottom, #0003, transparent);
  border-bottom: 1px solid #0003;
  box-shadow: 0 0 32px #0003;
  font-size: 1em;
  font-weight: 300;
  width: 100%;
  max-width: 900px;
}
.linkst > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.linkst > a:hover {
	background: #ffffff06;
	color: #adf;
}
.linkst a[href^="/about"] {
  color: #adf;
  background: #ffffff06;
}
.linkst:hover a[href^="/about"] {
  color: #9ab;
  background: #ffffff06;
}
/* The Magic */
.linkst {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}




