/* Contacts Form
----------------------------------*/
.contactsform {
  border: 0px solid #4E4DED;
  width: 100%;
  padding:10px;
  border-radius: 5px;
  box-sizing: border-box;
}
#content .contactsform {
  text-align: left;
}

.contactsform .title_input {
  color: #fff;
  font-size: 17px;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.contactsform input:focus, textarea:focus{
    border: 1px solid #767EEB;
}
.contactsform textarea{
    width: 90%;
}
.contactsform input,
.contactsform textarea{
  width: 100%;
  padding: 10px;
  border-radius: 0px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #4E4DED;
  box-shadow:  inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}

.contactsform input:focus,
.contactsform textarea:focus {
  border: 1px #767eeb solod;
  box-shadow:  inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.contactsform input[type="submit"]{
     width: 100%;
     cursor: pointer;
     background: -webkit-linear-gradient(top, #efefef, #ddd);
     background: -moz-linear-gradient(top, #efefef, #ddd);
     background: -ms-linear-gradient(top, #efefef, #ddd);
     background: -o-linear-gradient(top, #efefef, #ddd);
     background: linear-gradient(top, #efefef, #ddd);
     color: #fff;
     text-shadow: 0px 1px 1px rgba(255,255,255,1);
     border: 1px solid #ccc;
}
.contactsform input[type="submit"]:hover {
     background: -webkit-linear-gradient(top, #eee, #ccc);
     background: -moz-linear-gradient(top, #eee, #ccc);
     background: -ms-linear-gradient(top, #eee, #ccc);
     background: -o-linear-gradient(top, #eee, #ccc);
     background: linear-gradient(top, #eee, #ccc);
     border: 1px solid #767EEB;
}

.input_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 0px;
  max-width: 100%;
}

.input_form div {
  width: 100%;
  height: none;
  border-radius: 0px;
  box-sizing: border-box;
  display: inline-block;
}
@media(max-width: 900px) {
.input_form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 500px) {
.input_form {
    grid-template-columns: 1fr;
  }
}
